<div
  class="custom-dropdown"
  ClickOutside
  (clickOutside)="close()"
  [ngStyle]="{ minWidth: minWidth }"
>
  <div
    class="custom-dropdown-title"
    [ngClass]="{ active: isActive }"
    (click)="toggle()"
    [ngStyle]="{ height: height }"
  >
    <span>{{ translated ? (title | translate) : title }}</span>
    <i [hidden]="!isActive" class="pi pi-angle-up text-secondary"></i>
    <i [hidden]="isActive" class="pi pi-angle-down text-secondary"></i>
  </div>
  <div [hidden]="!isActive" class="custom-dropdown-list">
    <input
      [hidden]="!filter"
      type="text"
      class="search-field"
      placeholder="Search..."
      name="searchText"
      [(ngModel)]="searchText"
    />
    <div
      class="list"
      [ngClass]="{ 'fixed-list': fixedHeight, 'unfixed-list': !fixedHeight }"
    >
      <!-- filter from array -->
        <ng-container *ngFor="let value of data | filter : searchText">
          <!-- normal array -->
          <div
            *ngIf="!object"
            class="item text-secondary"
            (click)="action(value)"
          >
            {{ value }}
          </div>
          <!-- object of array -->
          <div
            *ngIf="object"
            class="item text-secondary"
            (click)="action(value, value[objectKey])"
          >
            {{ translated ? (value[objectKey] | translate) : value[objectKey] }}
          </div>
        </ng-container>
    </div>
  </div>
</div>
