.custom-dropdown {
  position: relative;
  max-width: fit-content;
}

.custom-dropdown .custom-dropdown-title {
  user-select: none;
  position: relative;
  padding: 10px 20px;
  height: 50px;
  border: 1px solid #ccc;
  color: #ccc;
  font-weight: 600;
  text-transform: uppercase;
  font-size: larger;
  display: flex;
  background-color: #fafafacc;
  place-items: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.custom-dropdown .custom-dropdown-title span {
  width: 100%;
  /* text-align: center; */
}
.custom-dropdown .custom-dropdown-title:hover {
  cursor: pointer;
}
.custom-dropdown .custom-dropdown-title.active {
  border: 1px solid var(--main-color);
}

.custom-dropdown .custom-dropdown-list {
  z-index: 99;
  background-color: white;
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  right: 0;
  user-select: none;
  padding: 0;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.search-field {
  width: 100%;
  border: none;
  border-bottom: 1px solid #555555;
  height: 50px;
  background-color: #f2f2f2;
  padding: 10px;
}
/* .custom-dropdown .custom-dropdown-list .list {
  height: 200px;
  overflow-y: auto;
} */
.fixed-list {
  height: 200px;
  overflow-y: auto;
}
.unfixed-list {
  max-height: 200px;
  overflow-y: auto;
}
.custom-dropdown .custom-dropdown-list .list .item {
  cursor: pointer;
  padding: 10px 20px;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  font-size: larger;
  text-transform: uppercase;
}

.custom-dropdown .custom-dropdown-list .list .item:hover {
  background-color: #f2f2f2;
}

/* =========style scroll bar========= */
.list::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
}
.list::-webkit-scrollbar-thumb {
  display: none;
  background-color: #ccc;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.list:hover::-webkit-scrollbar-thumb {
  display: block;
}

/* =========end style scroll bar========= */
