<!-- Drogfiles Modal -->
<div id="drag_documents_files" class="modal custom-modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ "dragfiles_modal.title" | translate }}</h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="false">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="js-upload-form">
          <!-- download zone -->
          <a
            class="col-sm-12 mt-4"
            href="/assets/files/customers.xlsx"
            download
          >
            <div class="upload-drop-zone" id="drop-zone" role="button">
              <i class="pi pi-cloud-download fs-4 text-success"></i>
              <a class="upload-text mx-2">
                {{ "dragfiles_modal.download" | translate }}
              </a>
            </div>
          </a>
          <!-- upload zone -->
          <div class="upload-drop-zone" id="drop-zone" role="button">
            <input
              id="files"
              type="file"
              (change)="importExcel($event)"
              accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
            />
            <i class="pi pi-cloud-upload fs-4 text-info"></i>
            <span class="upload-text mx-2">
              {{
                file != null
                  ? truncateString(file?.name, 20)
                  : ("dragfiles_modal.SubTitle" | translate)
              }}
              <span>{{formatBytes(file?.size)}}</span>
            </span>
          </div>
        </form>
        <div class="submit-section">
          <div
            class="btn submit-btn mx-2"
            [class]="currentTheme?.colorSchema?.background"
            role="button"
            (click)="onAttachFiles()"
          >
            <span [class]="currentTheme?.colorSchema?.color">
              {{ "dragfiles_modal.attach" | translate }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Drogfiles Modal -->

<!-- loading section -->
<div *ngIf="uploading">
  <app-loading-section></app-loading-section>
</div>
<!-- /loading section -->
