<div>
  <!-- page header  -->
  <div
    class="page-header w-100 d-flex justify-content-between align-items-center gap-4"
    [dir]="'dir' | translate"
  >
    <app-breadcrumb
      [title]="'customers.all_customers.title' | translate"
    ></app-breadcrumb>
    <div *ngIf="checkPageActions('create')" routerLink="/modules/customers/add">
      <a
        class="btn add-btn d-flex align-items-center {{
          currentTheme?.colorSchema?.background
        }} {{ currentTheme?.colorSchema?.color }}"
      >
        <i class="pi pi-plus d-none d-sm-block"></i>
        {{ "customers.all_customers.add_btn" | translate }}
      </a>
    </div>
  </div>

  <!-- /page header  -->
  <app-back-button></app-back-button>
  <!-- table -->
  <app-customers-module-table
    [data]="data"
    [totalItems]="totalItemsCount"
    [dataKeys]="dataKeys"
    [loading]="loading"
    [getDataError]="getDataError"
    [currentTheme]="currentTheme"
    deleteModalTitle="Customer"
    [tableTitle]="'customers.all_customers.table_title' | translate"
    editPagePath="/modules/customers/edit"
    (onPageChange)="onPaginate($event)"
    (onDelete)="delete($event)"
    (onSearch)="search($event)"
    (onFilter)="handleFiltersSubmit($event)"
    (onReset)="resetData()"
    (onStatusChange)="onStatusChange($event)"
  ></app-customers-module-table>
</div>
<div
  class="page-footer w-100 d-flex justify-content-between align-items-center gap-4"
  [dir]="'dir' | translate"
>
  <div class="mt-4" *ngIf="checkPageActions('create')">
    <a
      class="btn add-btn d-flex align-items-center {{
        currentTheme?.colorSchema?.background
      }} {{ currentTheme?.colorSchema?.color }}"
      data-bs-toggle="modal"
      data-bs-target="#drag_documents_files"
      role="button"
    >
      <i class="pi pi-plus d-none d-sm-block"></i>
      {{ "customers.all_customers.import_btn" | translate }}
    </a>
  </div>
</div>

<app-drop-file-section
  [currentTheme]="currentTheme"
  (onAttach)="onAttachFiles($event)"
></app-drop-file-section>
