<div class="import-devices">
  <!-- content page -->
  <div class="content">
    <!-- page header  -->
    <div
      class="page-header w-100 d-flex justify-content-between align-items-center gap-4"
      [dir]="'dir' | translate"
    >
      <app-breadcrumb
        [title]="'customers.import_devices.title' | translate"
      ></app-breadcrumb>
      <div routerLink="/modules/customers/importDevices/add">
        <a
          class="btn add-btn d-flex align-items-center {{
            currentTheme?.colorSchema?.background
          }} {{ currentTheme?.colorSchema?.color }}"
        >
          <i class="pi pi-plus d-none d-sm-block"></i>
          {{ "customers.import_devices.add_btn" | translate }}
        </a>
      </div>
    </div>

    <!-- /page header  -->
    <app-back-button></app-back-button>
    <!-- table -->
    <app-impor-devices-module-table
      [data]="data"
      [totalItems]="totalItemsCount"
      [dataKeys]="dataKeys"
      [loading]="loading"
      [currentTheme]="currentTheme"
      [deleteModalTitle]="'customers.import_devices.delete' | translate"
      [tableTitle]="'customers.import_devices.table_title' | translate"
      editPagePath="/modules/customers/importDevices/edit"
    ></app-impor-devices-module-table>
  </div>

  <!-- /content page -->
  <div class="reports-sidebar">
    <app-customer-reports-sidebar></app-customer-reports-sidebar>
  </div>
</div>
