<!-- <div
  class="login-page bg-light d-flex flex-column justify-content-center align-items-center gap-4 vh-100"
  [dir]="'dir' | translate"
>
  <div class="login-form bg-white p-4 shadow-sm rounded">
    <div class="logo">
      <img
        (click)="openLink()"
        src="assets/logo.png"
        alt="logo"
        width="80"
        height="80"
        role="button"
      />
    </div>
    <form
      [formGroup]="loginForm"
      class="d-flex flex-column justify-content-center gap-3"
      (ngSubmit)="login()"
    >
      <div class="text-center">
        <p class="text-muted m-0">{{ "login.description" | translate }}</p>
      </div>
      <div class="mb-1">
        <div class="form-control login-input">
          <i class="pi pi-at text-muted"></i>
          <p class="m-0">|</p>
          <input
            type="email"
            class="form-control h-auto border-0 p-1"
            name="email"
            formControlName="email"
            placeholder="Email"
          />
        </div>
        <div
          *ngIf="
            loginForm.get('email')?.invalid && loginForm.get('email')?.touched
          "
        >
          <small
            *ngIf="formValues['email'].getError('required')"
            class="text-danger"
          >
            {{ "register.email_required" | translate }}</small
          >
          <small
            *ngIf="formValues['email'].getError('email')"
            class="text-danger"
          >
            {{ "register.invalid_email" | translate }}</small
          >
        </div>
      </div>
      <div>
        <div class="form-control login-input">
          <i class="pi pi-key text-muted"></i>
          <p class="m-0">|</p>
          <input
            type="password"
            class="form-control h-auto border-0 p-1"
            name="password"
            formControlName="password"
            placeholder="Password"
          />
        </div>
        <div
          *ngIf="
            loginForm.get('password')?.invalid &&
            loginForm.get('password')?.touched
          "
        >
          <small
            *ngIf="
              loginForm.get('password')?.invalid &&
              loginForm.get('password')?.touched
            "
            class="text-danger"
          >
            {{ "register.password_required" | translate }}</small
          >
        </div>
        <p
          class="forget-password text-muted mt-3 mb-0"
          routerLink="/forget-password"
          role="button"
        >
          {{ "login.forgot_password" | translate }}
        </p>
      </div>

      <button
        type="submit"
        class="btn account-btn p-0"
        [disabled]="loginForm.invalid"
      >
        {{ "login.btn" | translate }}
        <div class="loading-spinner" *ngIf="loading">
          <div class="spinner-border" role="status"></div>
        </div>
      </button>
    </form>
    <div class="links">
      <a href="https://www.facebook.com/AKTITEC622" target="_blank" class="link"
        ><i class="pi pi-facebook"></i
      ></a>
      <a href="#" target="_blank" class="link"
        ><i class="pi pi-linkedin"></i
      ></a>
      <a href="https://www.aktitec.com/" target="_blank" class="link"
        ><i class="pi pi-globe"></i
      ></a>
    </div>
  </div>
</div> -->

<section class="loginn ng-scope">
  <!--<link rel="stylesheet" href="/css/login_style.css">-->
  <!--<link rel="stylesheet" href="/css/ballon.css">-->
  <!--<link rel="stylesheet" href="/css/bootstrap_for_login_page/bootstrap.min.css">-->
  <!--<link rel="stylesheet" href="/css/all.css">-->

  <div class="login-body">
    <div class="drop drop1"></div>
    <div class="drop drop2"></div>
    <section>
      <div class="form-row d-flex justify-content-between align-items-center">
        <div class="form-col">
          <div class="d-flex justify-content-end align-items-center h-100">
            <div
              class="form-container"
              style="
                width: 450px;
                background: rgba(255, 255, 255, 10);
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                border-radius: 10px;
                z-index: 100;
              "
            >
              <h1 class="text-center fs-5 py-1 text-muted">
                <!-- <img src="/Login_files/aktitec-loader-24.gif"/> -->
                <div>
                  <img
                    src="/assets/login_logo.png"
                    style="width: 120px; height: 125px"
                  />
                </div>
              </h1>
              <p style="text-align: center; color: red"></p>
              <form
                class="mx-5 ng-pristine ng-invalid ng-invalid-required"
                [formGroup]="loginForm"
                (ngSubmit)="login()"
              >
                <div
                  class="input-group d-flex justify-content-center align-items-center shadow-lg p-1 ps-4 bg-white rounded text-muted border-left border-primary"
                  style="border-left: 5px solid"
                >
                  <span class="input-group-addon">
                    <i class="pi pi-envelope"></i>
                  </span>
                  <div class="d-flex align-items-center ms-2">
                    <p class="text-muted" style="margin-top: 12px">|</p>
                  </div>
                  <input
                    id="email"
                    type="text"
                    class="form-control border-0 ms-2 py-3 ng-pristine ng-invalid ng-invalid-required"
                    name="email"
                    placeholder="Email Address"
                    formControlName="email"
                  />
                </div>
                <div
                  class="input-group d-flex justify-content-center align-items-center shadow-lg p-1 ps-4 bg-white rounded text-muted my-4 border-left border-primary"
                  style="border-left: 5px solid"
                >
                  <span class="input-group-addon">
                    <i class="pi pi-key"></i>
                  </span>
                  <div class="d-flex align-items-center ms-2">
                    <p class="text-muted" style="margin-top: 12px">|</p>
                  </div>
                  <!-- ng-attr-type="{{showPassword ? 'text' : 'password'}}" -->
                  <input
                    id="userpass"
                    class="form-control border-0 ms-2 py-3 ng-pristine ng-invalid ng-invalid-required"
                    name="password"
                    placeholder="Password"
                    formControlName="password"
                    [type]="showPassword ? 'text' : 'password'"
                  />

                  <span
                    class="password-toggle"
                    (click)="showPassword = !showPassword"
                  >
                    <i
                      class="pi"
                      [ngClass]="{
                        'pi-eye': showPassword,
                        'pi-eye-slash': !showPassword
                      }"
                    ></i>
                  </span>
                </div>

                <!-- <div
                  class="d-flex justify-content-between align-items-center"
                ></div> -->
                <div class="text-center my-3">
                  <!-- ngIf: showdata || !hideButton -->
                  <button
                    class="account-btn btn btn-primary border-0 text-white py-3 px-5 rounded-2 text-uppercase fw-bold"
                    type="submit"
                    [disabled]="loginForm.invalid"
                  >
                    <!-- <i class="bi bi-box-arrow-in-right"></i> -->
                    <!-- تسجيل الدخول -->
                    <p>{{ "login.btn" | translate }}</p>
                    <div class="loading-spinner" *ngIf="loading">
                      <div class="spinner-border" role="status"></div>
                    </div>
                  </button>
                  <!-- end ngIf: showdata || !hideButton -->
                </div>

                <div [hidden]="!error" class="alert alert-danger">
                  {{ errorText }}
                </div>

                <div class="social-media my-3">
                  <a
                    href="https://www.facebook.com/AKTITEC622/"
                    target="_blank"
                    class="social-icon"
                  >
                    <i class="pi pi-facebook"></i>
                  </a>
                  <a href="#" target="_blank" class="social-icon">
                    <i class="pi pi-youtube"></i>
                  </a>
                  <a
                    href="https://www.aktitec.com/"
                    target="_blank"
                    class="social-icon"
                  >
                    <i class="pi pi-globe"></i>
                  </a>
                  <!-- <a href="#" class="social-icon">
            <i class="fab fa-linkedin"></i>
        </a> -->
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="contant-col">
          <div class="d-flex justify-content-start align-items-center h-100">
            <!-- <div class=""> -->
            <div class="text-container">
              <div
                class="d-flex justify-content-start align-items-center h-100 w-100 position-relative"
              >
                <!-- <div class="background-image"></div> -->
                <div class="background-image" id="background-wrap">
                  <div class="bubble x1"></div>
                  <div class="bubble x2"></div>
                  <div class="bubble x3"></div>
                  <div class="bubble x4"></div>
                  <div class="bubble x5"></div>
                  <div class="bubble x6"></div>
                  <div class="bubble x7"></div>
                  <div class="bubble x8"></div>
                  <div class="bubble x9"></div>
                  <div class="bubble x10"></div>
                </div>
                <!-- <img src="/Login_files/login_bg.png" alt="" style="width: 100%; height: 600px;"> -->

                <!-- apps -->
                <div class="apps">
                  <div class="content my-3">
                    <a href="" target="_blank" class="app"> HR </a>
                    <a href="" target="_blank" class="app active"> MMS </a>
                    <a
                      href="https://aktitec.net/#/login"
                      target="_blank"
                      class="app"
                    >
                      ERP
                    </a>
                  </div>
                </div>
                <!-- banner -->
                <div
                  class="position-absolute text-center banner-text"
                  style="z-index: 3"
                >
                  <!-- <img src="/Login_files/logo.jpeg" width="60%" alt=""> -->
                  <h1
                    class="text-white text-uppercase fs-4 fw-bold"
                    style="padding-top: 50px"
                  >
                    AKTITEC - اكتيتك
                  </h1>
                  <p class="text-white fs-6">
                    {{ "login.des" | translate }}
                    <!-- حلول تكنولوجية لتسهيل وتطوير عمل المؤسسات المختلفة -->
                  </p>
                  <div class="text-center my-5"></div>
                </div>
              </div>
              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
