<div>
  <!-- page header  -->
  <div
    class="page-header w-100 d-flex justify-content-between align-items-center gap-4"
    [dir]="'dir' | translate"
  >
    <app-breadcrumb [title]="'deficiencies.title' | translate"></app-breadcrumb>
    <div routerLink="/modules/deficiencies/add">
      <a
        class="btn add-btn d-flex align-items-center {{
          currentTheme?.colorSchema?.background
        }} {{ currentTheme?.colorSchema?.color }}"
      >
        <i class="pi pi-plus d-none d-sm-block"></i>
        {{ "deficiencies.add_btn" | translate }}
      </a>
    </div>
  </div>

  <!-- /page header  -->
  <app-back-button></app-back-button>
  <!-- table -->
  <app-deficiencies-module-table
    [data]="data"
    [totalItems]="totalItemsCount"
    [dataKeys]="dataKeys"
    [loading]="loading"
    [getDataError]="getDataError"
    [currentTheme]="currentTheme"
    [deleteModalTitle]="'deficiencies.title' | translate"
    [tableTitle]="'deficiencies.table_title' | translate"
    editPagePath="/modules/deficiencies/edit"
    (onPageChange)="onPaginate($event)"
    (onDelete)="delete($event)"
    (onSearch)="search($event)"
    (onFilter)="handleFiltersSubmit($event)"
    (onReset)="resetData()"
  ></app-deficiencies-module-table>
</div>

