<div class="modal custom-modal fade" id="choose_modal" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="form-header">
          <h3>{{ "job_link.choose_modal.title" | translate }}</h3>
          <p>{{ "job_link.choose_modal.description" | translate }}</p>
        </div>
        <div class="modal-btn delete-action">
          <div class="row">
            <div class="col-6">
              <!-- New -->
              <div class="schedule-btn">
                <div class="schedule mt-4" (click)="assignJob()">
                  {{ "job_link.choose_modal.schedule" | translate }}
                </div>
              </div>
            </div>
            <div class="col-6">
              <!-- Copy -->
              <div class="note-btn">
                <div class="note mt-4">{{ "job_link.choose_modal.make" | translate }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
