<!-- Add  Modal -->
<div class="add-page">
  <!-- Page Header -->
  <div
    class="page-header w-100 d-flex justify-content-between align-items-center gap-4"
    [dir]="'dir' | translate"
  >
    <!-- breadcrumb -->
    <app-breadcrumb
      [title]="'changePassword.title' | translate"
    ></app-breadcrumb>
  </div>
  <!-- /Page Header -->

  <app-back-button></app-back-button>
  <!-- content -->
  <form (ngSubmit)="submit()" [formGroup]="addForm">
    <div class="row">
      <div class="col-sm-3"></div>
      <!-- old password -->
      <div class="col-sm-6">
        <div class="form-group mt-2">
          <label
            >{{ "changePassword.form.old_password" | translate }}
            <span class="text-danger">*</span></label
          >
          <input
            class="form-control"
            type="password"
            formControlName="oldPassword"
          />
          <!-- errors -->
          <div
            *ngIf="
              addForm.get('oldPassword')?.invalid &&
              addForm.get('oldPassword')?.touched
            "
          >
            <small
              *ngIf="
                addForm.get('oldPassword')?.invalid &&
                addForm.get('oldPassword')?.touched
              "
              class="text-danger"
            >
              {{
                "changePassword.form.old_password_required" | translate
              }}</small
            >
          </div>
          <!-- errors -->
        </div>
      </div>
      <div class="col-sm-3"></div>
      <div class="col-sm-3"></div>
      <!-- new password -->
      <div class="col-sm-6">
        <div class="form-group mt-2">
          <label
            >{{ "changePassword.form.new_password" | translate }}
            <span class="text-danger">*</span></label
          >
          <input
            class="form-control"
            type="password"
            formControlName="newPassword"
          />
          <!-- errors -->
          <div
            *ngIf="
              addForm.get('newPassword')?.invalid &&
              addForm.get('newPassword')?.touched
            "
          >
            <small
              *ngIf="
                addForm.get('newPassword')?.invalid &&
                addForm.get('newPassword')?.touched
              "
              class="text-danger"
            >
              {{
                "changePassword.form.new_password_required" | translate
              }}</small
            >
          </div>
          <!-- errors -->
        </div>
      </div>
      <div class="col-sm-3"></div>
      <div class="col-sm-3"></div>
      <!-- confirm password -->
      <div class="col-sm-6">
        <div class="form-group mt-2">
          <label
            >{{ "changePassword.form.confirm_password" | translate }}
            <span class="text-danger">*</span></label
          >
          <input
            class="form-control"
            type="password"
            formControlName="confirmPassword"
          />

          <!-- errors -->
          <div
            [hidden]="addForm.get('confirmPassword')?.untouched || !(addForm.errors?.['unMatchedPassword'])"
          >
            <small
              class="text-danger"
              *ngIf="addForm?.errors?.['unMatchedPassword']"
              >{{
                "changePassword.form.confirm_password_required" | translate
              }}</small
            >
          </div>
          <!-- errors -->
        </div>
      </div>
      <div class="col-sm-3"></div>
    </div>

    <!-- submit -->
    <div class="save-btn text-center">
      <button type="submit" class="save mt-4">{{ "save" | translate }}</button>
    </div>
  </form>
</div>
