<div class="customer-home">
  <!-- content page -->
  <div class="content">
    <!-- title -->
    <h3 class="text-secondary">Test Customer Data - Bussniss Center</h3>
    <!-- action -->
    <div class="actions">
      <div class="action">
        <label>Sate Tax</label>
        <app-custom-dropdown title="%" minWidth="50px"></app-custom-dropdown>
      </div>
      <app-custom-dropdown
        title="pricing levels"
        minWidth="200px"
      ></app-custom-dropdown>
      <app-custom-dropdown
        title="account"
        [data]="acount_types"
      ></app-custom-dropdown>
    </div>
    <!-- tables -->
    <div class="inspections-tables">
      <div>
        <h4 class="text-center text-secondary my-4">Inspections Due</h4>
        <app-customer-home-table
          [data]="inspectionsDue"
          [dataKeys]="inspectionsDueKeys"
          [loading]="inspectionsDueLoading"
        ></app-customer-home-table>
      </div>
      <div>
        <h4 class="text-center text-secondary my-4">Inspections Done</h4>
        <app-customer-home-table
          [data]="inspectionsDone"
          [dataKeys]="inspectionsDoneKeys"
          [loading]="inspectionsDoneLoading"
        ></app-customer-home-table>
      </div>
    </div>
  </div>
  <!-- /content page -->
  <div class="reports-sidebar">
    <app-customer-reports-sidebar></app-customer-reports-sidebar>
  </div>
</div>
