<div class="gps" [dir]="'dir' | translate">
  <div class="header">
    <!-- Team Member list dropdown  -->
    <div class="dropdown-list" ClickOutside (clickOutside)="close()">
      <div class="title" (click)="toggleDropdown()">
        <i class="pi pi-angle-double-up fs-5"></i>
        {{ "gps.list" | translate }}
      </div>
      <div class="list" [ngClass]="{ active: isDropdownActive }">
        <!-- search -->
        <div class="search">
          <input
            type="text"
            class="h-auto form-control"
            placeholder="{{ 'header.searchText' | translate }}"
            name="searchText"
            [(ngModel)]="searchText"
          />
          <div class="search-icon">
            <i class="pi pi-search"></i>
          </div>
        </div>
        <!-- table -->
        <table class="table mt-4">
          <thead class="table-bg">
            <tr class="border border-1">
              <th>{{ "gps.name" | translate }}</th>
              <th>{{ "gps.status" | translate }}</th>
              <th>{{ "gps.update" | translate }}</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="border border-1">
            <ng-container
              *ngFor="let member of teamMembers | filter : searchText"
            >
              <tr [style]="{ background: 'rgb(231, 231, 231)' }">
                <td class="text-muted">
                  {{ member?.firstName + " " + member?.lastName }}
                </td>
                <td class="text-danger">
                  {{ member?.updatedAt ? "updated" : "_" }}
                </td>
                <td>{{ member?.updatedAt | date : "dd MMM yyyy HH:mm a" }}</td>
                <td>
                  <i
                    class="pi pi-refresh text-info fs-4"
                    role="button"
                    (click)="refresh()"
                  ></i>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- map -->
  <div class="map-container">
    <div class="map-frame">
      <div id="map"></div>
    </div>
  </div>
</div>
