<div class="nav-item dropdown has-arrow main-drop" [dir]="'dir' | translate">
  <div class="dropdown-toggle nav-link" data-bs-toggle="dropdown" role="button">
    <div class="profile">
      <span class="user-img"
        ><img
          class="rounded-circle"
          [src]="userImage"
          alt=""
          width="30"
          height="30" />
        <span class="status online"></span
      ></span>
      <!-- if user no exist -->
      <span>{{
        isLoggedIn() == true
          ? user?.firstName + " " + user?.lastName
          : ("header.user_dropdown.admin" | translate)
      }}</span>
    </div>
  </div>
  <div class="dropdown-menu">
    <a
      class="dropdown-item"
      role="button"
      routerLink="/modules/pages/profile"
      >{{ "header.user_dropdown.profile" | translate }}</a
    >
    <a
      class="dropdown-item"
      role="button"
      routerLink="/modules/change-password"
      >{{ "header.user_dropdown.settings" | translate }}</a
    >
    <a class="dropdown-item" role="button" (click)="Logout()">{{
      "header.user_dropdown.logout" | translate
    }}</a>
  </div>
</div>
