<!-- Add  Modal -->
<div class="add-page">
  <!-- Page Header -->
  <div
    class="page-header w-100 d-flex justify-content-between align-items-center gap-4"
    [dir]="'dir' | translate"
  >
    <!-- breadcrumb -->
    <app-breadcrumb
      [title]="'inventory.supplier.add_btn' | translate"
    ></app-breadcrumb>
  </div>
  <!-- /Page Header -->

  <app-back-button></app-back-button>
  <!-- content -->
  <form (ngSubmit)="submit()" [formGroup]="addForm">
    <div class="row">
      <div class="col-sm-4">
        <!-- upload zone -->
        <div class="upload-drop-zone" id="drop-zone" role="button">
          <input id="files" type="file" (change)="getSelectedFiles($event)" />
          <i class="pi pi-cloud-upload fs-4"></i>
          <span class="upload-text mx-2">{{
            file != null ? truncateString(file?.name, 20) : "Add Logo"
          }}</span>
        </div>
        <div class="clear my-2" (click)="clearImage()">
          {{ "inventory.supplier.form.clear" | translate }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <!-- Supplier Name -->
        <div class="form-group mt-2">
          <label
            >{{ "inventory.supplier.form.supplier_name" | translate }}
            <span class="text-danger">*</span></label
          >
          <input
            class="form-control"
            type="text"
            formControlName="supplierName"
          />
          <!-- errors -->
          <div
            *ngIf="
              addForm.get('supplierName')?.invalid &&
              addForm.get('supplierName')?.touched
            "
          >
            <small
              *ngIf="
                addForm.get('supplierName')?.invalid &&
                addForm.get('supplierName')?.touched
              "
              class="text-danger"
            >
              {{
                "inventory.supplier.form.supplier_name_required" | translate
              }}</small
            >
          </div>
          <!-- errors -->
        </div>
      </div>
      <div class="col-sm-4">
        <!-- website -->
        <div class="form-group mt-2">
          <label>{{ "inventory.supplier.form.website" | translate }} </label>
          <input class="form-control" type="text" formControlName="website" />
        </div>
      </div>
      <div class="col-sm-4">
        <!-- emailId -->
        <div class="form-group mt-2">
          <label>{{ "inventory.supplier.form.email_id" | translate }} </label>
          <input class="form-control" type="text" formControlName="emailId" />
        </div>
      </div>
      <div class="col-sm-4">
        <!-- contactNumber -->
        <div class="form-group mt-2">
          <label
            >{{ "inventory.supplier.form.contact_number" | translate }}
          </label>
          <input
            class="form-control"
            type="text"
            formControlName="contactNumber"
          />
        </div>
      </div>
      <div class="col-sm-4">
        <!-- contactName -->
        <div class="form-group mt-2">
          <label
            >{{ "inventory.supplier.form.contact_name" | translate }}
          </label>
          <input
            class="form-control"
            type="text"
            formControlName="contactName"
          />
        </div>
      </div>
      <div class="col-sm-4">
        <!-- address -->
        <div class="form-group mt-2">
          <label>{{ "inventory.supplier.form.address" | translate }} </label>
          <input class="form-control" type="text" formControlName="address" />
        </div>
      </div>
      <!-- status -->
      <div class="col-sm-4">
        <div class="form-group mt-2">
          <label>{{ "inventory.parts.form.status" | translate }} </label>
          <select
            class="form-select form-control"
            name="status"
            id="status"
            formControlName="status"
          >
            <option value="true">
              {{ "inventory.parts.form.inStock" | translate }}
            </option>
            <option value="false">
              {{ "inventory.parts.form.outStock" | translate }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <!-- submit -->
    <div class="save-btn text-center">
      <button type="submit" class="save mt-4">
        {{ "save" | translate }}
      </button>
    </div>
  </form>
</div>
<!-- /Add  Modal -->

<!-- loading section -->
<div *ngIf="uploading">
  <app-loading-section></app-loading-section>
</div>
<!-- /loading section -->
