<div class="system-info">
  <!-- content page -->
  <div class="content">
    <!-- title -->
    <h3 class="text-secondary">
      {{ "customers.system_info.title" | translate }}
      <i class="pi pi-info-circle text-danger fs-5 mx-2"></i>
    </h3>

    <!-- table -->
    <div>
      <div
        class="d-flex justify-content-start my-4"
        (click)="navigateToAddPage()"
      >
        <a
          class="btn add-btn d-flex align-items-center {{
            currentTheme?.colorSchema?.background
          }} {{ currentTheme?.colorSchema?.color }}"
        >
          <i class="pi pi-plus d-none d-sm-block"></i>
          {{ "customers.system_info.add_btn" | translate }}
        </a>
      </div>
      <app-system-info-table
        [data]="data"
        [totalItems]="totalItemsCount"
        [dataKeys]="dataKeys"
        [loading]="loading"
        [getDataError]="getDataError"
        [currentTheme]="currentTheme"
        editPagePath="/modules/customers/systemInfo/edit"
        (onPageChange)="onPaginate($event)"
        (onDelete)="delete($event)"
        (onSearch)="search($event)"
        (onFilter)="handleFiltersSubmit($event)"
        (onReset)="resetData()"
      ></app-system-info-table>
    </div>
  </div>
  <!-- /content page -->
  <!-- <div [hidden]="!isReportsActive" class="reports-sidebar">
    <app-customer-reports-sidebar></app-customer-reports-sidebar>
  </div> -->
</div>
