<div class="sidebar-dropdown-menu overflow-hidden" [dir]="'dir' | translate">
  <!-- dropdwon header -->
  <a
    class="dropdown-header"
    role="button"
    (click)="list?.code == 'customers' ? null : handleActiveMenu(list?.code)"
    [ngClass]="{ 'dropdown-active': activeMenu.value == list?.title }"
    [routerLink]="list?.link"
    routerLinkActive="active-title"
  >
    <div class="header-content">
      <!-- icon -->
      <i
        class="pi {{ list?.icon }} {{
          isSidebarClosed ? 'big-link-icon' : 'small-link-icon'
        }} "
      ></i>
      <!-- title -->
      <span>{{ list?.title }}</span>
    </div>
    <!-- arrow -->
    <!-- <span
      class="menu-arrow {{ currentTheme?.sidebarColor?.color }}"
      [ngClass]="{ rotate: activeMenu.value === list?.title }"
    >
      <i class="pi pi-angle-right"></i>
    </span> -->
  </a>
  <!-- dropdown submenu -->
  <div
    class="dropdown-submenu"
    [ngStyle]="{
      maxHeight: activeMenu.value == list?.code ? '1000px' : 0,
    }"
    [@toggle-animation]="activeMenu.value == list?.code ? 'opened' : 'closed'"
  >
    <ng-container *ngFor="let link of list?.list">
      <li
        [routerLink]="link?.path"
        [queryParams]="link?.query"
        routerLinkActive="active"
        role="button"
      >
        <a class="{{ currentTheme?.sidebarColor?.color }}">{{ link?.page }}</a>
      </li>
    </ng-container>
  </div>
</div>
