.customer-portal {
  position: relative;
  display: flex;
}
.content {
  flex: 1;
}
.reports-sidebar {
  position: relative;
  height: 100%;
  width: 325px;
}

.form-header {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.emails {
  padding: 30px;
  background-color: white;
}

.btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.save-btn {
  display: flex;
  justify-content: center;
}

.save {
  color: rgb(106, 161, 78);
  border: 1px solid rgb(106, 161, 78);
  background-color: white;
  padding: 6px 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 155px;
  font-weight: bold;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.save:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(106, 161, 78);
}

.add-btn {
  display: flex;
  justify-content: flex-start;
  border: none;
}

.add {
  color: rgb(78, 114, 161);
  border: 1px solid rgb(78, 114, 161);
  background-color: white;
  padding: 6px 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-weight: bold;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.add:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(78, 114, 161);
}

.form-group {
  position: relative;
  display: flex;
  align-items: center;
}

input[type="email"] {
  background-color: #fafafacc;;
}

.trash-icon {
  cursor: pointer;
  font-size: larger;
  position: absolute;
  right: 15px;
}
