<!-- Add  Modal -->
<div class="add-page">
  <!-- Page Header -->
  <div
    class="page-header w-100 d-flex justify-content-between align-items-center gap-4"
    [dir]="'dir' | translate"
  >
    <!-- breadcrumb -->
    <app-breadcrumb title="Add Contact"></app-breadcrumb>
  </div>
  <!-- /Page Header -->

  <app-back-button></app-back-button>
  <!-- content -->
  <form (ngSubmit)="submit()" [formGroup]="addForm">
    <div class="row">
      <div class="col-sm-6">
        <!-- Contract Reference -->
        <div class="form-group mt-2">
          <label>Contract Reference <span class="text-danger">*</span></label>
          <input
            class="form-control"
            type="text"
            formControlName="contractReference"
          />
          <!-- errors -->
          <div
            *ngIf="
              addForm.get('contractReference')?.invalid &&
              addForm.get('contractReference')?.touched
            "
          >
            <small
              *ngIf="
                addForm.get('contractReference')?.invalid &&
                addForm.get('contractReference')?.touched
              "
              class="text-danger"
            >
              Contract Reference Is Required</small
            >
          </div>
          <!-- errors -->
        </div>
      </div>
      <div class="col-sm-6">
        <!-- teamId -->
        <div class="form-group mt-2">
          <label>Team Member <span class="text-danger">*</span></label>
          <select
            class="form-select form-control"
            name="teamId"
            id="teamId"
            formControlName="teamId"
          >
            <option value="1">one</option>
            <option value="2">two</option>
            <!-- <option *ngIf="teamLoading" disabled>
              loading
            </option> -->
          </select>
        </div>
        <!-- errors -->
        <div
          *ngIf="
            addForm.get('teamId')?.invalid && addForm.get('teamId')?.touched
          "
        >
          <small
            *ngIf="
              addForm.get('teamId')?.invalid && addForm.get('teamId')?.touched
            "
            class="text-danger"
          >
            Team Member Is Required</small
          >
        </div>
        <!-- errors -->
      </div>
      <div class="col-sm-6">
        <!-- salaryStructureType -->
        <div class="form-group mt-2">
          <label>Salary Structure Type </label>
          <input
            class="form-control"
            type="text"
            formControlName="salaryStructureType"
          />
        </div>
      </div>
      <div class="col-sm-6">
        <!-- contractStartDate -->
        <div class="form-group mt-2">
          <label>Contract StartDate </label>
          <input
            class="form-control"
            type="date"
            formControlName="contractStartDate"
          />
        </div>
      </div>
      <div class="col-sm-6">
        <!-- Cell Phone -->
        <div class="form-group mt-2">
          <label>Contract EndDate </label>
          <input
            class="form-control"
            type="date"
            formControlName="contractEndDate"
          />
        </div>
      </div>
      <div class="col-sm-6">
        <!-- jobPosition  -->
        <div class="form-group mt-2">
          <label>Job Position </label>
          <input
            class="form-control"
            type="text"
            formControlName="jobPosition"
          />
        </div>
      </div>
      <div class="col-sm-6">
        <!-- contractSchedule -->
        <div class="form-group mt-2">
          <label>Contract Schedule </label>
          <input
            class="form-control"
            type="text"
            formControlName="contractSchedule"
          />
        </div>
      </div>
      <div class="col-sm-6">
        <!-- contractType -->
        <div class="form-group mt-2">
          <label>Contract Type </label>
          <input
            class="form-control"
            type="text"
            formControlName="contractType"
          />
        </div>
      </div>
      <div class="col-sm-6">
        <!-- wage -->
        <div class="form-group mt-2">
          <label>Wage </label>
          <input class="form-control" type="text" formControlName="wage" />
        </div>
      </div>
      <div class="col-sm-6">
        <!-- notes -->
        <div class="form-group mt-2">
          <label>notes </label>
          <input class="form-control" type="text" formControlName="notes" />
        </div>
      </div>
      <div class="col-sm-6">
        <!-- status -->
        <div class="form-group mt-2">
          <label>Status </label>
          <select
            class="form-select form-control"
            name="teamId"
            id="teamId"
            formControlName="status"
          >
            <option value="true">Active</option>
            <option value="false">Inactive</option>
          </select>
        </div>
      </div>
    </div>

    <!-- submit -->
    <div class="submit-section mb-4">
      <button
        class="btn submit-btn mx-2"
        [class]="currentTheme?.colorSchema?.background"
        type="submit"
        [disabled]="addForm.invalid"
      >
        <span [class]="currentTheme?.colorSchema?.color">Save</span>
      </button>
    </div>
  </form>
</div>
<!-- /Add  Modal -->

<!-- loading section -->
<div *ngIf="uploading">
  <app-loading-section></app-loading-section>
</div>
<!-- /loading section -->
