<!-- Add  Modal -->
<div class="add-page">
  <!-- Page Header -->
  <div
    class="page-header w-100 d-flex justify-content-between align-items-center gap-4"
    [dir]="'dir' | translate"
  >
    <!-- breadcrumb -->
    <app-breadcrumb
      [title]="'inventory.parts.add_btn' | translate"
    ></app-breadcrumb>
  </div>
  <!-- /Page Header -->

  <app-back-button></app-back-button>
  <!-- content -->
  <form (ngSubmit)="submit()" [formGroup]="addForm">
    <div class="row">
      <div class="col-sm-4">
        <!-- upload zone -->
        <div class="upload-drop-zone" id="drop-zone" role="button">
          <input id="files" type="file" (change)="getSelectedFiles($event)" />
          <i class="pi pi-cloud-upload fs-4"></i>
          <span class="upload-text mx-2">{{
            file != null ? truncateString(file?.name, 20) : "Add Image"
          }}</span>
        </div>
        <div class="clear my-2" (click)="clearImage()">
          {{ "inventory.parts.form.clear" | translate }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <!-- Select suppliers -->
        <div class="form-group mt-2">
          <label
            >{{ "inventory.parts.form.supplier" | translate }}
            <span class="text-danger">*</span></label
          >
          <app-custom-filter-dropdown
            minWidth="100%"
            objectKey="supplierName"
            [data]="suppliers"
            (onAction)="onSelectSuppliers($event)"
            (onFilter)="onFilterSuppliers($event)"
          ></app-custom-filter-dropdown>
          <!-- <select class="form-select form-control" formControlName="supplierId">
            <option disabled selected>
              {{ "select" | translate }}
            </option>
            <ng-container *ngFor="let supply of suppliers">
              <option [value]="supply?.id">
                {{ supply?.name }}
              </option>
            </ng-container>
            <option *ngIf="!suppliersLoading && suppliers.length == 0" disabled>
              {{ "inventory.parts.form.no_data" | translate }}
            </option>
          </select> -->
          <!-- errors -->
          <div
            *ngIf="
              addForm.get('supplierId')?.invalid &&
              addForm.get('supplierId')?.touched
            "
          >
            <small
              *ngIf="
                addForm.get('supplierId')?.invalid &&
                addForm.get('supplierId')?.touched
              "
              class="text-danger"
            >
              {{ "inventory.parts.form.supplier_required" | translate }}</small
            >
          </div>
          <!-- errors -->
        </div>
      </div>
      <div class="col-sm-4">
        <!-- Select Category -->
        <div class="form-group mt-2">
          <label
            >{{ "inventory.parts.form.category" | translate }}
            <span class="text-danger">*</span></label
          >
          <select
            class="form-select form-control"
            formControlName="reportCategoryId"
          >
            <option disabled selected>
              {{ "select" | translate }}
            </option>
            <ng-container *ngFor="let report of categories">
              <option [value]="report?.id">
                {{ report?.name }}
              </option>
            </ng-container>
            <option
              *ngIf="!categoriesLoading && categories.length == 0"
              disabled
            >
              {{ "inventory.parts.form.no_data" | translate }}
            </option>
          </select>
          <!-- errors -->
          <div
            *ngIf="
              addForm.get('reportCategoryId')?.invalid &&
              addForm.get('reportCategoryId')?.touched
            "
          >
            <small
              *ngIf="
                addForm.get('reportCategoryId')?.invalid &&
                addForm.get('reportCategoryId')?.touched
              "
              class="text-danger"
            >
              {{ "inventory.parts.form.category_required" | translate }}</small
            >
          </div>
          <!-- errors -->
        </div>
      </div>
      <div class="col-sm-4">
        <!-- part name -->
        <div class="form-group mt-2">
          <label
            >{{ "inventory.parts.form.partName" | translate }}
            <span class="text-danger">*</span></label
          >
          <input class="form-control" type="text" formControlName="partName" />
          <!-- errors -->
          <div
            *ngIf="
              addForm.get('partName')?.invalid &&
              addForm.get('partName')?.touched
            "
          >
            <small
              *ngIf="
                addForm.get('partName')?.invalid &&
                addForm.get('partName')?.touched
              "
              class="text-danger"
            >
              {{ "inventory.parts.form.partName_required" | translate }}</small
            >
          </div>
          <!-- errors -->
        </div>
      </div>
      <div class="col-sm-4">
        <!-- SKU -->
        <div class="form-group mt-2">
          <label>{{ "inventory.parts.form.sku" | translate }} </label>
          <input class="form-control" type="text" formControlName="sku" />
        </div>
      </div>
      <div class="col-sm-4">
        <!-- Make -->
        <div class="form-group mt-2">
          <label
            >{{ "inventory.parts.form.make" | translate }}
            <span class="text-danger">*</span></label
          >
          <input class="form-control" type="text" formControlName="make" />
          <!-- errors -->
          <div
            *ngIf="addForm.get('make')?.invalid && addForm.get('make')?.touched"
          >
            <small
              *ngIf="
                addForm.get('make')?.invalid && addForm.get('make')?.touched
              "
              class="text-danger"
            >
              {{ "inventory.parts.form.make_required" | translate }}</small
            >
          </div>
          <!-- errors -->
        </div>
      </div>
      <div class="col-sm-4">
        <!-- Model -->
        <div class="form-group mt-2">
          <label
            >{{ "inventory.parts.form.model" | translate }}
            <span class="text-danger">*</span></label
          >
          <input class="form-control" type="text" formControlName="model" />
          <!-- errors -->
          <div
            *ngIf="
              addForm.get('model')?.invalid && addForm.get('model')?.touched
            "
          >
            <small
              *ngIf="
                addForm.get('model')?.invalid && addForm.get('model')?.touched
              "
              class="text-danger"
            >
              {{ "inventory.parts.form.model_required" | translate }}</small
            >
          </div>
          <!-- errors -->
        </div>
      </div>
      <div class="col-sm-4">
        <!-- Cost -->
        <div class="form-group mt-2">
          <label
            >{{ "inventory.parts.form.cost" | translate }}
            <span class="text-danger">*</span></label
          >
          <input class="form-control" type="number" formControlName="cost" />
          <!-- errors -->
          <div
            *ngIf="addForm.get('cost')?.invalid && addForm.get('cost')?.touched"
          >
            <small
              *ngIf="
                addForm.get('cost')?.invalid && addForm.get('cost')?.touched
              "
              class="text-danger"
            >
              {{ "inventory.parts.form.cost_required" | translate }}</small
            >
          </div>
          <!-- errors -->
        </div>
      </div>
      <div class="col-sm-4">
        <!-- Quantity -->
        <div class="form-group mt-2">
          <label
            >{{ "inventory.parts.form.quantity" | translate }}
            <span class="text-danger">*</span></label
          >
          <input
            class="form-control"
            type="number"
            formControlName="quantity"
          />
          <!-- errors -->
          <div
            *ngIf="
              addForm.get('quantity')?.invalid &&
              addForm.get('quantity')?.touched
            "
          >
            <small
              *ngIf="
                addForm.get('quantity')?.invalid &&
                addForm.get('quantity')?.touched
              "
              class="text-danger"
            >
              {{ "inventory.parts.form.quantity_required" | translate }}</small
            >
          </div>
          <!-- errors -->
        </div>
      </div>
      <!-- status -->
      <div class="col-sm-4">
        <div class="form-group mt-2">
          <label>{{ "inventory.parts.form.status" | translate }} </label>
          <select
            class="form-select form-control"
            name="status"
            id="status"
            formControlName="status"
          >
            <option value="InStock">
              {{ "inventory.parts.form.inStock" | translate }}
            </option>
            <option value="OutStock">
              {{ "inventory.parts.form.outStock" | translate }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <!-- submit -->
    <div class="save-btn text-center">
      <button type="submit" class="save mt-4">
        {{ "save" | translate }}
      </button>
    </div>
  </form>
</div>
<!-- /Add  Modal -->

<!-- loading section -->
<div *ngIf="uploading">
  <app-loading-section></app-loading-section>
</div>
<!-- /loading section -->
