<div>
  <!-- page header  -->
  <div
    class="page-header w-100 d-flex justify-content-between align-items-center gap-4"
    [dir]="'dir' | translate"
  >
    <app-breadcrumb
      [title]="'inventory.tools.title' | translate"
    ></app-breadcrumb>
    <div class="d-flex align-items-center gap-2">
      <div routerLink="/modules/inventory/tools/add">
        <a
          class="btn add-btn d-flex align-items-center {{
            currentTheme?.colorSchema?.background
          }} {{ currentTheme?.colorSchema?.color }}"
        >
          <i class="pi pi-plus d-none d-sm-block"></i>
          {{ "inventory.tools.add_btn" | translate }}
        </a>
      </div>
      <div routerLink="/modules/inventory/tools/assign">
        <a
          class="btn add-btn d-flex align-items-center {{
            currentTheme?.colorSchema?.background
          }} {{ currentTheme?.colorSchema?.color }}"
        >
          <i class="pi pi-plus d-none d-sm-block"></i>
          {{ "inventory.tools.assign_btn" | translate }}
        </a>
      </div>
    </div>
  </div>

  <!-- /page header  -->
  <app-back-button></app-back-button>
  <!-- table -->
  <app-tools-module-table
    [data]="data"
    [totalItems]="totalItemsCount"
    [dataKeys]="dataKeys"
    [loading]="loading"
    [currentTheme]="currentTheme"
    [deleteModalTitle]="'inventory.tools.title' | translate"
    [tableTitle]="'inventory.tools.table_title' | translate"
    editPagePath="/modules/inventory/tools/edit"
  ></app-tools-module-table>
</div>

<!-- [users]="users"
    [totalItems]="totalItemsCount"
    [dataKeys]="dataKeys"
    [loading]="loading"
    [currentTheme]="currentTheme"
    deleteModalTitle="Users"
    tableTitle="Users Table"
    editPagePath="/modules/users/edit"
    (onPageChange)="onPaginate($event)"
    (onDelete)="delete($event)"
    (onSearch)="search($event)"
    (onFilter)="handleFiltersSubmit($event)"
    (onDeleteSelected)="deleteSelected()"
    (onReset)="resetData()" -->
