.report-client-details {
  position: relative;
  /* display: flex; */
}
/* .content {
  flex: 1;
} */

.client-detail-card {
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.profile {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 15px;
}
.profile img {
  object-fit: contain;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.details {
  flex: 1;
  border-left: 2px dashed #ccc;
}
.details ul {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.details ul li {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: normal;
  font-size: small;
}
.details ul li i {
  color: #ccc;
  margin: 0;
}
.details ul li p {
  margin: 0;
}

.next-btn {
  display: flex;
  justify-content: flex-end;
}

.next {
  color: rgb(106, 161, 78);
  border: 1px solid rgb(106, 161, 78);
  padding: 6px 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 155px;
  font-weight: bold;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.next:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(106, 161, 78);
}
