<div class="modal custom-modal fade" id="add_tools_modal" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="form-header">
          <h3>{{ "inventory.tools.add_btn" | translate }}</h3>
        </div>
        <!-- add tools-->
        <form>
          <div class="row">
            <!-- Suppliers -->
            <div class="col-sm-12">
              <div class="form-group mt-2">
                <label
                  >{{ "inventory.tools.assign.add_modal.tool" | translate }}
                  <span class="text-danger">*</span></label
                >
                <app-custom-dropdown
                  title="Select Here"
                  minWidth="100%"
                  [filter]="true"
                  [object]="true"
                  objectKey="value"
                  [data]="tools"
                ></app-custom-dropdown>
              </div>
            </div>
            <!-- Quantity -->
            <div class="col-sm-12">
              <div class="form-group mt-2">
                <label
                  >{{
                    "inventory.tools.assign.add_modal.quantity" | translate
                  }}
                  <span class="text-danger">*</span></label
                >
                <input type="number" class="form-control" />
              </div>
            </div>
          </div>
          <!-- submit -->
          <div class="save-btn">
            <button type="submit" class="save mt-4">
              {{ "save" | translate }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
