<div class="hood-system">
  <!-- content page -->
  <div class="content">
    <div class="d-flex justify-content-between align-items-center">
      <!-- title -->
      <h3 class="text-secondary">
        {{ "customers.hood_system.title" | translate }}
      </h3>
      <div class="start-btn text-center">
        <div class="start mt-4" routerLink="/modules/reports/newReport">
          {{ "customers.hood_system.start" | translate }}
        </div>
      </div>
    </div>
    <!-- tabs -->
    <div class="tabs my-4">
      <button
        [ngClass]="{ active: activeTab === 1 }"
        type="button"
        class="tab"
        (click)="setActiveTab(1)"
      >
        {{ "customers.hood_system.inspections" | translate }}
      </button>
      <button
        [ngClass]="{ active: activeTab === 2 }"
        type="button"
        class="tab"
        (click)="setActiveTab(2)"
      >
        {{ "customers.hood_system.work_orders" | translate }}
      </button>
      <button
        [ngClass]="{ active: activeTab === 3 }"
        type="button"
        class="tab"
        (click)="setActiveTab(3)"
      >
        {{ "customers.hood_system.quotes" | translate }}
      </button>
      <button
        [ngClass]="{ active: activeTab === 4 }"
        type="button"
        class="tab"
        (click)="setActiveTab(4)"
      >
        {{ "customers.hood_system.incomplete_reports" | translate }}
      </button>
    </div>
    <!-- table -->
    <app-hood-system-module-table
      [data]="data"
      [totalItems]="totalItemsCount"
      [dataKeys]="dataKeys"
      [loading]="loading"
      [currentTheme]="currentTheme"
      [deleteModalTitle]="'customers.hood_system.delete' | translate"
      [tableTitle]="'customers.hood_system.table_title' | translate"
    ></app-hood-system-module-table>
  </div>
  <!-- /content page -->
  <div class="reports-sidebar">
    <app-customer-reports-sidebar></app-customer-reports-sidebar>
  </div>
</div>
