<!-- forget-password page -->
<div
  class="forget-password-page bg-light d-flex flex-column justify-content-center align-items-center gap-4 vh-100"
>
  <!-- Application forget-password Form -->
  <div class="forget-password-form bg-white p-4 shadow-sm rounded">
    <!-- Application Logo -->
    <div class="logo">
      <img
        (click)="openLink()"
        src="assets/logo.png"
        alt="logo"
        width="80"
        height="80"
        role="button"
      />
    </div>
    <form
      [formGroup]="forgetPasswordForm"
      (ngSubmit)="submit()"
      class="d-flex flex-column justify-content-center gap-3"
    >
      <!-- form header -->
      <div class="text-center">
        <!-- <h3 class="account-title">Forgot Password?</h3> -->
        <p class="account-subtitle text-muted">
          Enter your email to get a password reset link
        </p>
      </div>
      <div class="form-group">
        <!-- <label>Email Address</label> -->
        <div class="form-control forget-password-input">
          <!-- logo -->
          <i class="pi pi-at text-muted"></i>
          <p class="m-0">|</p>
          <input
            class="form-control h-auto border-0 p-1"
            type="email"
            placeholder="Email"
            formControlName="email"
          />
        </div>
        <!-- errors -->
        <div
          *ngIf="
            forgetPasswordForm.get('email')?.invalid &&
            forgetPasswordForm.get('email')?.touched
          "
        >
          <small
            *ngIf="
              forgetPasswordForm.get('email')?.invalid &&
              forgetPasswordForm.get('email')?.touched
            "
            class="text-danger"
          >
            {{ "register.email_required" | translate }}</small
          >
        </div>
        <!-- errors -->
      </div>
      <div class="form-group text-center">
        <button
          type="submit"
          class="btn account-btn p-0"
          [disabled]="forgetPasswordForm.invalid"
        >
          Send Email
          <!-- loading -->
          <!-- <div class="loading-spinner" *ngIf="loading">
            <div class="spinner-border" role="status"></div>
          </div> -->
        </button>
        <!-- Submit Button -->
        <!-- <app-account-button
          title="Send Email"
          [isDisabled]="forgetPasswordForm.invalid"
        ></app-account-button> -->
      </div>
      <div class="account-footer">
        <p class="remeber-password text-muted mt-3 mb-0">
          Remember your password?
          <a class="text-info" routerLink="/login">Login</a>
        </p>
      </div>
    </form>
  </div>
</div>
<div class="page-ovarlay"></div>
