<div class="inventory-home container">
  <div class="content">
    <p class="fs-5 mb-4 fw-bold">{{'inventory.home.title' | translate}}</p>

    <div class="steps">
      <div class="step">{{'inventory.home.step1' | translate}}</div>
      <div class="step">
        {{'inventory.home.step2' | translate}}
      </div>
      <div class="note text-muted">
        {{'inventory.home.note' | translate}}
      </div>
      <div class="step">
        {{'inventory.home.step3' | translate}}
      </div>
      <div class="step">
        {{'inventory.home.step4' | translate}}
      </div>
    </div>
  </div>
</div>
