<div class="inventory-home container">
  <div class="content">
    <p class="fs-5 mb-4 fw-bold">Process to setup or manage inventory</p>

    <div class="steps">
      <div class="step">Step 1. Click on Suppliers to add a supplier.</div>
      <div class="step">
        Step 2. Click on Parts or Tools to add parts and tools.
      </div>
      <div class="note text-muted">
        To only add parts or tools to inventory, only step 1 and 2 are needed.
      </div>
      <div class="step">
        Step 3. Click on Vehicle Inventory to assign a team member to a vehicle.
      </div>
      <div class="step">
        Step 4. Click on Parts or Tools to assign parts and tools to a vehicle.
      </div>
    </div>
  </div>
</div>
