<div class="building-info">
  <!-- content page -->
  <div class="content">
    <!-- title -->
    <h3 class="text-secondary">
      {{ "customers.building_info.title" | translate }}
    </h3>
    <!-- content -->
    <div>
      <!-- header -->
      <div
        class="form-header pe-4 ps-4 mt-4 {{
          currentTheme?.colorSchema?.background
        }} {{ currentTheme?.colorSchema?.color }}"
      >
        <div class="d-flex justify-content-between align-items-center w-100">
          <h4 class="m-0">{{ "customers.building_info.title" | translate }}</h4>
          <div></div>
        </div>
      </div>
      <!-- notes -->
      <div class="building-notes mt-4">
        <div class="note" *ngFor="let value of data">
          <div class="title">
            <div class="label">{{ value?.title }}</div>
            <div class="actions">
              <i
                class="pi pi-pencil text-danger mx-2 fs-5"
                (click)="
                  navigateTo('/modules/customers/buildingInfo/edit', value?.id)
                "
              ></i>
              <i
                class="pi pi-trash mx-2 fs-5"
                data-bs-toggle="modal"
                data-bs-target="#delete"
                (click)="deleteId = value?.id"
              ></i>
            </div>
          </div>
          <div class="note-input">
            <textarea
              rows="3"
              [placeholder]="value?.description"
              readonly
            ></textarea>
          </div>
        </div>
        <!-- no data -->
        <h1
          *ngIf="loading == false && getDataError == false && data?.length == 0"
          class="fs-3 my-4 text-center"
        >
          {{ "module_table.table_empty_text" | translate }}
        </h1>
      </div>

      <!-- add -->
      <div class="submit-section text-start mb-4">
        <button
          class="btn submit-btn mx-2"
          [class]="currentTheme?.colorSchema?.background"
          (click)="navigateTo('/modules/customers/buildingInfo/add')"
        >
          <span [class]="currentTheme?.colorSchema?.color">{{
            "add" | translate
          }}</span>
        </button>
      </div>
    </div>
  </div>
  <!-- /content page -->
  <!-- <div [hidden]="!isReportsActive" class="reports-sidebar">
    <app-customer-reports-sidebar></app-customer-reports-sidebar>
  </div> -->
</div>

<!-- delete modal -->
<app-delete-modal
  [title]="'customers.building_info.title' | translate"
  [currentTheme]="currentTheme"
  (onDelete)="deleteItem()"
></app-delete-modal>
<!--/ delete modal -->
