<div class="images">
  <!-- content page -->
  <div class="content">
    <!-- title -->
    <h3 class="text-secondary">{{ "customers.images.title" | translate }}</h3>
    <!-- content -->
    <div>
      <div class="d-flex justify-content-start my-4">
        <a
          class="btn add-btn d-flex align-items-center {{
            currentTheme?.colorSchema?.background
          }} {{ currentTheme?.colorSchema?.color }}"
          (click)="navigateTo('/modules/customers/images/add')"
        >
          <i class="pi pi-plus d-none d-sm-block"></i>
          {{ "customers.images.add_btn" | translate }}
        </a>
      </div>
      <!-- header -->
      <div
        class="form-header pe-4 ps-4 mt-4 {{
          currentTheme?.colorSchema?.background
        }} {{ currentTheme?.colorSchema?.color }}"
      >
        <div class="d-flex justify-content-between align-items-center w-100">
          <h4 class="m-0">{{ "customers.images.header" | translate }}</h4>
          <div></div>
        </div>
      </div>
      <!-- images -->
      <div class="building-images mt-4">
        <div class="building-image" *ngFor="let img of data">
          <div class="image">
            <i
              data-bs-toggle="modal"
              data-bs-target="#delete"
              role="button"
              class="pi pi-trash trash"
              (click)="deleteId = img?.id"
            ></i>
            <i
              class="pi pi-expand expand"
              data-bs-toggle="modal"
              data-bs-target="#view_image"
              (click)="onView(img?.imagePath)"
            ></i>
            <img [src]="img?.imagePath" alt="image" />
          </div>
          <div class="comment">
            <input
              class="form-control"
              type="text"
              [placeholder]="'customers.images.comment_placehoder' | translate"
              [value]="img?.comment"
              (keyup)="onUpdateImage($event, img?.id)"
            />
          </div>
        </div>
      </div>
      <!-- no data -->
      <h1
        *ngIf="loading == false && getDataError == false && data.length == 0"
        class="fs-3 my-4 text-center"
      >
        {{ "module_table.table_empty_text" | translate }}
      </h1>
      <!-- error -->
      <h1
        *ngIf="loading == false && getDataError"
        class="fs-3 my-4 text-center"
      >
        {{ "module_table.table_error_text" | translate }}
      </h1>
    </div>
  </div>

  <!-- /content page -->
  <div [hidden]="!isReportsActive" class="reports-sidebar">
    <app-customer-reports-sidebar></app-customer-reports-sidebar>
  </div>
</div>

<!-- view-image-modal -->
<app-view-image-modal [image]="viewUrl"></app-view-image-modal>
<!-- /view-image-modal -->

<!-- delete modal -->
<app-delete-modal
  title="Image"
  [currentTheme]="currentTheme"
  (onDelete)="onDeleteFile()"
></app-delete-modal>
<!--/ delete modal -->
