<div class="dashboard">
  <div
    class="bg {{ currentTheme?.colorSchema?.background }} {{
      currentTheme?.colorSchema?.color
    }}"
  ></div>
  <div class="title fs-2 text-light mb-3">
    {{ "dashboard.dashboard" | translate }}
  </div>
  <div class="income-chart">
    <span class="fs-5">{{ "dashboard.income_chart" | translate }} (2025)</span>
    <div class="d-flex justify-content-between align-items-center mt-4">
      <div class="d-flex align-items-center gap-2">
        <div class="box"></div>
        <p class="m-0 text-muted">2025</p>
      </div>
      <div>
        {{ "dashboard.revenue_of" | translate }} 2025:
        <span class="fw-bold"> $0</span>
      </div>
    </div>
    <div class="dashboard-chart">
      <!-- <canvas id="line-chart"></canvas> -->
    </div>
    <!-- <canvas id="bar-chart"></canvas> -->
  </div>
  <div class="filters mt-4">
    <p class="m-0 text-muted">{{ "dashboard.due_jobs" | translate }}</p>
    <p class="m-0 text-muted">
      {{ "dashboard.select" | translate }}:
      <span class="fw-bold">{{ currentMonth }}</span>
    </p>
    <div class="filters-dropdowns">
      <!-- months -->
      <app-custom-dropdown
        title="Month"
        minWidth="155px"
        [filter]="true"
        [object]="false"
        [data]="months"
      ></app-custom-dropdown>
      <!-- years -->
      <app-custom-dropdown
        title="Year"
        minWidth="100%"
        [filter]="true"
        [object]="false"
        [data]="years"
      ></app-custom-dropdown>
    </div>
  </div>
  <div class="boxs-charts">
    <div class="jobs-due">
      <h2>{{ totalJobsDueItemsCount }}</h2>
      <span>{{ "dashboard.total_job_due_month" | translate }}</span>
    </div>
    <div class="other-jobs">
      <div class="top-charts">
        <div class="jobs-invoices"><h2>--</h2></div>
        <div class="jobs-completed"><h2>--</h2></div>
      </div>
      <div class="bottom-charts">
        <div class="project-revenue">
          <h2>0</h2>
          <span>{{ "dashboard.total_project_revenue_month" | translate }}</span>
        </div>
        <div class="jobs-scheduled">
          <h2>{{ thisMonthJobsTotal }}</h2>
          <span>{{ "dashboard.jobs_this_month" | translate }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
