<div
  class="custom-multi-dropdown"
  ClickOutside
  (clickOutside)="close()"
  [ngStyle]="{ minWidth: minWidth }"
>
  <div
    class="custom-dropdown-title"
    [ngClass]="{ active: isActive }"
    (click)="toggle()"
    [ngStyle]="{ height: height }"
  >
    <span *ngIf="checkedData.length == 0">{{ title }}</span>
    <div class="checked-data" *ngIf="checkedData.length != 0">
      <span *ngFor="let value of checkedData; let i = index"
        >{{ value[objectKey] }}
        <span [hidden]="checkedData.length === i + 1">,</span>
      </span>
    </div>
    <i [hidden]="!isActive" class="pi pi-angle-up text-secondary"></i>
    <i [hidden]="isActive" class="pi pi-angle-down text-secondary"></i>
  </div>
  <div [hidden]="!isActive" class="custom-dropdown-list">
    <input
      [hidden]="!filter"
      type="text"
      class="search-field"
      placeholder="Search..."
      name="searchText"
      [(ngModel)]="searchText"
    />
    <div class="list">
      <ng-container *ngFor="let value of data | filter : searchText">
        <!-- object of array -->
        <div
          *ngIf="object"
          class="item text-secondary"
          (click)="action(value?.id, value[objectKey])"
        >
          <!-- custom check box -->
          <label class="form-checkbox">
            <input
              type="checkbox"
              name="checkbox"
              [checked]="value?.checked"
              (change)="onCheck($event, value?.id)"
            />
          </label>
          {{ value[objectKey] }}
        </div>
      </ng-container>
    </div>
    <!-- <li *ngIf="data?.length == 0" class="text-secondary">No Data</li> -->
  </div>
</div>
