input[type="file"] {
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  font-size: 17px;
  color: #b8b8b8;
}
.button-wrap {
  position: relative;
  overflow: hidden;
}
.btn-success {
  font-size: small;
}


.submit-section {
  text-align: center;
  margin-top: 40px;
  float: left;
  width: 100%;
}
.submit-section .submit-btn {
  border: none;
  font-size: 18px;
  font-weight: 600;
  min-width: 200px;
  border-radius: 50px;
  padding: 10px 20px;
}

select:focus {
  outline: none !important;
  box-shadow: none !important;
}
/* mobile */
@media (max-width: 575px) {
  .submit-section .submit-btn {
    margin: 10px 0 0;
    font-size: 14px;
  }
}




/* grid header */
.grid-header.default {
  background-color: #fafafa;
  color: #424242;
}
.grid-header .top-header,
.grid-header .bottom-header {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  border: 1px solid rgba(0, 0, 0, 0.08);
}
.grid-header .bottom-header {
  font-size: small;
  height: 47px;
}
/* grid table */

.table-responsive {
  height: 460px;
  position: relative;
  overflow-x: auto;
}

table {
  position: relative;
  margin: 0;
}
.table-head-key {
  text-transform: capitalize;
}
table thead {
  position: sticky;
  top: 0px;
  left: 0px;
  right: 0px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  z-index: 1;
}
table thead tr th .head-column {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  vertical-align: baseline;
}
.sort-icons {
  width: 20px;
}
table.table-striped thead tr th {
  background-color: #fafafa;
  font-size: 14px;
  font-weight: normal;
}
table.table-dark thead tr th {
  background-color: var(--dark-theme-bg);
  font-size: 14px;
  font-weight: normal;
}

table thead tr th,
table tbody tr td {
  position: relative;
  height: 48px;
  padding: 8px 12px;
  font-size: 14px;
  white-space: nowrap;
  vertical-align: baseline;
  border: 1px solid rgba(0, 0, 0, 0.08);
}
table thead tr th.default,
table tbody tr td.default {
  color: #424242;
}

/* grid footer */
.grid-footer {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  height: 47px;
  padding: 8px;
  font-size: 14px;
  white-space: nowrap;
  border: 1px solid rgba(0, 0, 0, 0.08);
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.grid-footer.default {
  z-index: 1;
  color: #424242;
  background-color: #fafafa;
}

/* general */
.data-btns {
  justify-content: end;
}

.selected {
  background-color: var(--selected-table-row-bg);
}
.sort-icon {
  font-size: smaller;
  color: var(--secondary-table-color);
}
.select-input {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
}
/* custom when coulmn object */
.object-data-title {
  font-size: medium;
  color: #424242;
}
a .object-data-sub {
  font-size: small;
}
/* dirctions */

.dropdown-menu[dir="rtl"] .dropdown-item {
  text-align: start;
}

/* mobile */

@media (max-width: 768px) {
  .row[dir="rtl"] .data-btns {
    justify-content: center;
  }
}


/* custom import excel btn */

.import-btn {
  height: 30px;
  padding: 4px 8px;
  border-color: rgba(0, 0, 0, 0.08);
  color: #424242;
  background-color: #f5f5f5;
  user-select: none;
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.02));
}
.import-btn:hover {
  background-color: #d6d6d6;
}

