<div class="recurring-inspections">
  <!-- content page -->
  <div class="content">
    <!-- page header  -->
    <div
      class="page-header w-100 d-flex justify-content-between align-items-center gap-4"
      [dir]="'dir' | translate"
    >
      <app-breadcrumb title="Recurring Inspections"></app-breadcrumb>
      <div routerLink="/modules/customers/recurringInspections/add">
        <a
          class="btn add-btn d-flex align-items-center {{
            currentTheme?.colorSchema?.background
          }} {{ currentTheme?.colorSchema?.color }}"
        >
          <i class="pi pi-plus d-none d-sm-block"></i>
          Add Recurring Inspection
        </a>
      </div>
    </div>

    <!-- /page header  -->
    <app-back-button></app-back-button>
    <!-- table -->
    <app-recurring-inspections-module-table
      [data]="data"
      [totalItems]="totalItemsCount"
      [dataKeys]="dataKeys"
      [loading]="loading"
      [currentTheme]="currentTheme"
      deleteModalTitle="Recurring Inspections"
      tableTitle="Recurring Inspections Table"
      editPagePath="/modules/customers/recurringInspections/edit"
    ></app-recurring-inspections-module-table>
  </div>

  <!-- /content page -->
  <div class="reports-sidebar">
    <app-customer-reports-sidebar></app-customer-reports-sidebar>
  </div>
</div>
