<div class="recurring-inspections">
  <!-- content page -->
  <div class="content">
    <!-- page header  -->
    <div
      class="page-header w-100 d-flex justify-content-between align-items-center gap-4"
      [dir]="'dir' | translate"
    >
      <app-breadcrumb
        [title]="'customers.recurring_inspections.title' | translate"
      ></app-breadcrumb>
      <div (click)="navigate('/modules/customers/recurringInspections/add')">
        <a
          class="btn add-btn d-flex align-items-center {{
            currentTheme?.colorSchema?.background
          }} {{ currentTheme?.colorSchema?.color }}"
        >
          <i class="pi pi-plus d-none d-sm-block"></i>
          {{ "customers.recurring_inspections.add_btn" | translate }}
        </a>
      </div>
    </div>

    <!-- /page header  -->
    <app-back-button></app-back-button>
    <!-- table -->
    <app-recurring-inspections-module-table
      [data]="data"
      [totalItems]="totalItemsCount"
      [dataKeys]="dataKeys"
      [loading]="loading"
      [getDataError]="getDataError"
      [currentTheme]="currentTheme"
      [deleteModalTitle]="'customers.recurring_inspections.delete' | translate"
      [tableTitle]="'customers.recurring_inspections.table_title' | translate"
      editPagePath="/modules/customers/recurringInspections/edit"
      (onPageChange)="onPaginate($event)"
      (onDelete)="delete($event)"
      (onSearch)="search($event)"
      (onFilter)="handleFiltersSubmit($event)"
      (onReset)="resetData()"
    ></app-recurring-inspections-module-table>
  </div>

  <!-- /content page -->
  <!-- <div class="reports-sidebar">
    <app-customer-reports-sidebar></app-customer-reports-sidebar>
  </div> -->
</div>
