<!-- forget-password page -->
<div
  class="forget-password-page bg-light d-flex flex-column justify-content-center align-items-center gap-4 vh-100"
>
  <!-- Application forget-password Form -->
  <div class="forget-password-form bg-white p-4 shadow-sm rounded">
    <!-- Application Logo -->
    <div class="logo">
      <img
        (click)="openLink()"
        src="assets/logo.png"
        alt="logo"
        width="80"
        height="80"
        role="button"
      />
    </div>
    <form
      [formGroup]="resetPasswordForm"
      (ngSubmit)="submit()"
      class="d-flex flex-column justify-content-center gap-3"
    >
      <!-- form header -->
      <div class="text-center">
        <!-- <h3 class="account-title">Reset Password</h3> -->
      </div>
      <div class="form-group">
        <!-- <label> {{ "settings.password.newPassword" | translate }}</label> -->
        <div class="form-control forget-password-input">
          <!-- logo -->
          <i class="pi pi-key text-muted"></i>
          <p class="m-0">|</p>
          <input
            type="password"
            class="form-control h-auto border-0 p-1"
            formControlName="newPassword"
            placeholder="New Password"
          />
        </div>
        <div
          *ngIf="
            resetPasswordForm.get('newPassword')?.invalid &&
            resetPasswordForm.get('newPassword')?.touched
          "
        >
          <small
            *ngIf="
              resetPasswordForm.get('newPassword')?.invalid &&
              resetPasswordForm.get('newPassword')?.touched
            "
            class="text-danger"
          >
            {{ "register.password_required" | translate }}</small
          >
        </div>
      </div>
      <div class="form-group">
        <!-- <label> {{ "settings.password.confirmPassword" | translate }}</label> -->
        <div class="form-control forget-password-input">
          <!-- logo -->
          <i class="pi pi-check-circle text-muted"></i>
          <p class="m-0">|</p>
          <input
            type="password"
            class="form-control h-auto border-0 p-1"
            formControlName="confirmPassword"
            placeholder="Confirm Password"
          />
        </div>
        <div
          [hidden]="resetPasswordForm.get('confirmPassword')?.untouched || !(resetPasswordForm.errors?.['unMatchedPassword'])"
        >
          <small
            class="text-danger"
            *ngIf="resetPasswordForm?.errors?.['unMatchedPassword']"
            >{{ "register.confirmPassword" | translate }}</small
          >
        </div>
      </div>
      <div class="form-group text-center">
        <button
          type="submit"
          class="btn account-btn p-0"
          [disabled]="resetPasswordForm.invalid"
        >
          Reset Password
          <!-- loading -->
          <!-- <div class="loading-spinner" *ngIf="loading">
            <div class="spinner-border" role="status"></div>
          </div> -->
        </button>
        <!-- Submit Button -->
        <!-- <app-account-button
          title="Reset Password"
          [isDisabled]="resetPasswordForm.invalid"
        ></app-account-button> -->
      </div>
      <div class="account-footer">
        <p class="go-to-login text-muted">
          go to login? <a class="text-info" routerLink="/login">Login</a>
        </p>
      </div>
    </form>
  </div>
</div>
<div class="page-ovarlay"></div>
