<div class="edit-job">
  <!-- Page Header -->
  <div
    class="page-header w-100 d-flex justify-content-between align-items-center gap-4"
    [dir]="'dir' | translate"
  >
    <!-- breadcrumb -->
    <app-breadcrumb
      [title]="'customers.edit_job.title' | translate"
    ></app-breadcrumb>
  </div>
  <!-- /Page Header -->

  <app-back-button></app-back-button>
  <div class="header">
    <ul class="left-section">
      <li>
        {{ "job_link.assign_job.contact_name" | translate }}:
        {{ currentJob?.customer?.contactName }}
      </li>
      <li>
        {{ "job_link.assign_job.job_id" | translate }}: {{ currentJob?.jobId }}
      </li>
      <li>
        {{ "job_link.assign_job.email_id" | translate }}:
        {{ currentJob?.customer?.email }}
      </li>
    </ul>
    <ul class="right-section">
      <li>
        {{ "job_link.assign_job.office_number" | translate }}:
        {{ currentJob?.customer?.officePhone }}
      </li>
      <li>
        {{ "job_link.assign_job.address" | translate }}:
        {{ currentJob?.customer?.address1 }}
      </li>
    </ul>
  </div>
  <!-- content -->

  <form (ngSubmit)="submit()" [formGroup]="addForm">
    <div class="row">
      <div class="col-sm-12">
        <!-- Describe Job -->
        <div class="form-group mt-2">
          <label
            >{{ "customers.add_job.name" | translate }}
            <span class="text-danger">*</span></label
          >
          <input class="form-control" type="text" formControlName="name" />

          <!-- errors -->
          <div
            *ngIf="addForm.get('name')?.invalid && addForm.get('name')?.touched"
          >
            <small
              *ngIf="
                addForm.get('name')?.invalid && addForm.get('name')?.touched
              "
              class="text-danger"
            >
              {{ "customers.add_job.name_required" | translate }}</small
            >
          </div>
          <!-- errors -->
        </div>
      </div>
      <div class="col-sm-12">
        <!-- Describe Job -->
        <div class="form-group mt-2">
          <label
            >{{ "customers.add_job.description" | translate }}
            <span class="text-danger">*</span></label
          >
          <textarea
            class="form-control h-auto"
            formControlName="description"
            rows="4"
          ></textarea>

          <!-- errors -->
          <div
            *ngIf="
              addForm.get('description')?.invalid &&
              addForm.get('description')?.touched
            "
          >
            <small
              *ngIf="
                addForm.get('description')?.invalid &&
                addForm.get('description')?.touched
              "
              class="text-danger"
            >
              {{ "customers.add_job.description_required" | translate }}</small
            >
          </div>
          <!-- errors -->
        </div>
      </div>
      <div class="col-sm-6">
        <!-- Select Month -->
        <div class="form-group mt-2">
          <label
            >{{ "customers.add_job.date" | translate }}
            <span class="text-danger">*</span></label
          >
          <input class="form-control" type="date" formControlName="dateTime" />

          <!-- errors -->
          <div
            *ngIf="
              addForm.get('dateTime')?.invalid &&
              addForm.get('dateTime')?.touched
            "
          >
            <small
              *ngIf="
                addForm.get('dateTime')?.invalid &&
                addForm.get('dateTime')?.touched
              "
              class="text-danger"
            >
              {{ "customers.add_job.date_required" | translate }}</small
            >
          </div>
          <!-- errors -->
        </div>
      </div>
      <div class="col-sm-6">
        <!-- Select Category -->
        <div class="form-group mt-2">
          <label
            >{{ "customers.add_job.category" | translate }}
            <span class="text-danger">*</span></label
          >
          <select
            class="form-select form-control"
            formControlName="reportCategoryId"
          >
            <option disabled selected>
              {{ "select" | translate }}
            </option>
            <ng-container *ngFor="let category of categories">
              <option [value]="category?.id">
                {{ category?.name }}
              </option>
            </ng-container>
            <option
              *ngIf="!categoriesLoading && categories.length == 0"
              disabled
            >
              {{ "customers.add_job.no_data" | translate }}
            </option>
          </select>
          <!-- errors -->
          <div
            *ngIf="
              addForm.get('reportCategoryId')?.invalid &&
              addForm.get('reportCategoryId')?.touched
            "
          >
            <small
              *ngIf="
                addForm.get('reportCategoryId')?.invalid &&
                addForm.get('reportCategoryId')?.touched
              "
              class="text-danger"
            >
              {{ "customers.add_job.category_required" | translate }}</small
            >
          </div>
          <!-- errors -->
        </div>
      </div>
      <div class="col-sm-6">
        <!-- Job Id -->
        <div class="form-group mt-2">
          <label>{{ "customers.add_job.job_id" | translate }} </label>
          <input
            class="form-control bg-secondary text-white"
            type="text"
            formControlName="jobId"
            readonly
          />
        </div>
      </div>
      <div class="col-sm-6">
        <!-- warranty_status -->
        <div class="form-group mt-2">
          <label>{{ "customers.add_job.warranty_status" | translate }} </label>
          <select
            class="form-select form-control"
            formControlName="warrantyStatus"
          >
            <option [value]="false" selected>
              {{ "select" | translate }}
            </option>
            <option [value]="true">
              {{ "customers.add_job.enabled" | translate }}
            </option>
          </select>
        </div>
      </div>
      <div
        [hidden]="formValues['warrantyStatus'].value == false"
        class="col-sm-6"
      >
        <!-- warrantyId -->
        <div class="form-group mt-2">
          <label
            >{{ "customers.add_job.warranty_template" | translate }}
          </label>
          <app-custom-filter-dropdown
            newItemPath="/modules/warranty-contract/add"
            minWidth="100%"
            [title]="currentWarrantyContract?.name"
            objectKey="name"
            [data]="warrantyContracts"
            [loading]="warrantyContractsLoading"
            (onAction)="onSelectWarrantyContract($event)"
            (onFilter)="onFilterWarrantyContract($event)"
            (onLoadMore)="loadMore()"
            (onRefresh)="getWarrantyContacts()"
          ></app-custom-filter-dropdown>
          <!-- <select class="form-select form-control" formControlName="warrantyId">
            <option selected>
              {{ "select" | translate }}
            </option>
            <ng-container *ngFor="let warranty of warranties">
              <option [value]="warranty?.id">
                {{ warranty?.name }}
              </option>
            </ng-container>
            <option
              *ngIf="!warrantiesLoading && warranties.length == 0"
              disabled
            >
              {{ "customers.add_job.no_data" | translate }}
            </option>
          </select> -->
        </div>
      </div>
      <div
        [hidden]="formValues['warrantyStatus'].value == false"
        class="col-sm-6"
      >
        <!-- Select Warranty Start Date -->
        <div class="form-group mt-2">
          <label
            >{{ "customers.add_job.warranty_start_date" | translate }}
          </label>
          <input
            class="form-control"
            type="date"
            formControlName="warrantyStartDate"
          />
        </div>
      </div>
      <!-- deficiencies -->
      <div class="col-sm-12">
        <div class="form-group mt-2">
          <label>{{ "customers.add_job.deficiencies" | translate }} </label>
          <table class="table table-bordered">
            <thead>
              <tr class="table-active">
                <th scope="col">#</th>
                <th scope="col">
                  {{ "customers.add_job.deficiency" | translate }}
                </th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <!-- no data -->
              <tr>
                <td colspan="3" [hidden]="deficiencyIds.length != 0">
                  <div class="text-muted text-center">
                    {{ "customers.add_job.no_data" | translate }}
                  </div>
                </td>
              </tr>
              <!-- rows -->
              <ng-container formArrayName="deficiencyIds">
                <tr
                  *ngFor="let item of deficiencyIds.controls; let i = index"
                  [formGroupName]="i"
                >
                  <th scope="row">{{ i }}</th>
                  <td>{{ formValues["deficiencyIds"].value[i]?.name }}</td>
                  <td>
                    <div class="text-center">
                      <i
                        class="pi pi-trash"
                        role="button"
                        (click)="
                          removeItem(
                            i,
                            formValues['deficiencyIds'].value[i]?.id
                          )
                        "
                      ></i>
                    </div>
                  </td>
                </tr>
              </ng-container>
              <!-- add row -->
              <tr>
                <td colspan="3">
                  <div class="add-row" role="button" (click)="addRow()">
                    {{ "customers.add_job.add_row" | translate }}
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- /deficiencies -->
    </div>

    <!-- submit -->
    <div class="save-btn text-center">
      <button type="submit" class="save mt-4">{{ "save" | translate }}</button>
    </div>
  </form>
</div>

<!-- loading section -->
<div *ngIf="uploading">
  <app-loading-section></app-loading-section>
</div>
<!-- /loading section -->
<!-- add deficiency modal -->
<app-add-deficiency-modal (onAdd)="addItem($event)"></app-add-deficiency-modal>
