.btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.save-btn {
  display: flex;
  justify-content: center;
}

.save {
  color: rgb(106, 161, 78);
  border: 1px solid rgb(106, 161, 78);
  background-color: white;
  padding: 6px 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 155px;
  font-weight: bold;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.save:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(106, 161, 78);
}

.form-control {
  background-color: #fafafacc;
}

.trash-icon {
  cursor: pointer;
  font-size: larger;
  position: absolute;
  right: 15px;
}
