<div
  class="dropdown"
  ClickOutside
  (clickOutside)="close()"
  [ngStyle]="{ minWidth: minWidth }"
>
  <div
    class="custom-dropdown-title"
    [ngClass]="{ active: isActive }"
    (click)="toggle()"
  >
    <span>{{ translated ? (title | translate) : title }}</span>
    <i [hidden]="!isActive" class="pi pi-angle-up text-secondary"></i>
    <i [hidden]="isActive" class="pi pi-angle-down text-secondary"></i>
  </div>
  <div [hidden]="!isActive" class="dropdown-content">
    <input
      type="text"
      [placeholder]="'search' | translate"
      class="myInput"
      (keydown)="filterFunction($event)"
    />
    <div class="list">
      <ng-container *ngFor="let value of data">
        <div class="item" (click)="action(value, value[objectKey])">
          <span>{{ value[objectKey] }}</span>
        </div>
      </ng-container>
      <!-- no found -->
      <p *ngIf="data?.length == 0" class="fs-5 my-4 text-center">
        {{ "no_data" | translate }}
      </p>
    </div>
  </div>
</div>
