<!-- Add  Modal -->
<div class="add-page">
  <!-- Page Header -->
  <div
    class="page-header w-100 d-flex justify-content-between align-items-center gap-4"
    [dir]="'dir' | translate"
  >
    <!-- breadcrumb -->
    <app-breadcrumb [title]="'team.add_title' | translate"></app-breadcrumb>
  </div>
  <!-- /Page Header -->

  <app-back-button></app-back-button>
  <!-- content -->
  <form (ngSubmit)="submit()" [formGroup]="addForm">
    <!-- step 1 -->
    <div class="form-step">
      <span class="step-no" [ngClass]="{ active: firstStep }">1</span>
      <div
        class="form-step-btn"
        [ngClass]="{ active: firstStep }"
        (click)="changeStep(1)"
      >
        {{ "team.form.basic_details" | translate }}
      </div>
    </div>
    <div class="row" [hidden]="secondStep">
      <div class="col-sm-6">
        <!-- First Name -->
        <div class="form-group mt-2">
          <label
            >{{ "team.form.first_name" | translate }}
            <span class="text-danger">*</span></label
          >
          <input class="form-control" type="text" formControlName="firstName" />
          <!-- errors -->
          <div
            *ngIf="
              addForm.get('firstName')?.invalid &&
              addForm.get('firstName')?.touched
            "
          >
            <small
              *ngIf="
                addForm.get('firstName')?.invalid &&
                addForm.get('firstName')?.touched
              "
              class="text-danger"
            >
              {{ "team.form.first_name_required" | translate }}</small
            >
          </div>
          <!-- errors -->
        </div>
      </div>
      <div class="col-sm-6">
        <!-- Last Name -->
        <div class="form-group mt-2">
          <label
            >{{ "team.form.last_name" | translate }}
            <span class="text-danger">*</span></label
          >
          <input class="form-control" type="text" formControlName="lastName" />
          <!-- errors -->
          <div
            *ngIf="
              addForm.get('lastName')?.invalid &&
              addForm.get('lastName')?.touched
            "
          >
            <small
              *ngIf="
                addForm.get('lastName')?.invalid &&
                addForm.get('lastName')?.touched
              "
              class="text-danger"
            >
              {{ "team.form.last_name_required" | translate }}</small
            >
          </div>
          <!-- errors -->
        </div>
      </div>
      <div class="col-sm-6">
        <!-- userName -->
        <div class="form-group mt-2">
          <label
            >{{ "team.form.user_name" | translate }}
            <span class="text-danger">*</span></label
          >
          <input class="form-control" type="text" formControlName="userName" />
          <!-- errors -->
          <div
            *ngIf="
              addForm.get('userName')?.invalid &&
              addForm.get('userName')?.touched
            "
          >
            <small
              *ngIf="
                addForm.get('userName')?.invalid &&
                addForm.get('userName')?.touched
              "
              class="text-danger"
            >
              {{ "team.form.user_name_required" | translate }}</small
            >
          </div>
          <!-- errors -->
        </div>
      </div>
      <div class="col-sm-6">
        <!-- Email -->
        <div class="form-group mt-2">
          <label
            >{{ "team.form.email" | translate }}
            <span class="text-danger">*</span></label
          >
          <input class="form-control" type="email" formControlName="email" />
          <!-- errors -->
          <div
            *ngIf="
              addForm.get('email')?.invalid && addForm.get('email')?.touched
            "
          >
            <small
              *ngIf="formValues['email'].getError('required')"
              class="text-danger"
            >
              {{ "team.form.email_required" | translate }}</small
            >

            <small
              *ngIf="formValues['email'].getError('email')"
              class="text-danger"
            >
              {{ "team.form.email_valid" | translate }}</small
            >
          </div>
          <!-- errors -->
        </div>
      </div>
      <div class="col-sm-6">
        <!-- password -->
        <div class="form-group mt-2">
          <label
            >{{ "team.form.password" | translate }}
            <span class="text-danger">*</span></label
          >
          <input
            class="form-control"
            type="password"
            formControlName="password"
          />
          <!-- errors -->
          <div
            *ngIf="
              addForm.get('password')?.invalid &&
              addForm.get('password')?.touched
            "
          >
            <small
              *ngIf="
                addForm.get('password')?.invalid &&
                addForm.get('password')?.touched
              "
              class="text-danger"
            >
              {{ "team.form.password_required" | translate }}</small
            >
          </div>
          <!-- errors -->
        </div>
      </div>
      <div class="col-sm-6">
        <!-- Contact Number -->
        <div class="form-group mt-2">
          <label
            >{{ "team.form.contact_number" | translate }}
            <span class="text-danger">*</span></label
          >
          <input
            class="form-control"
            type="text"
            formControlName="contactNumber"
          />
          <!-- errors -->
          <div
            *ngIf="
              addForm.get('contactNumber')?.invalid &&
              addForm.get('contactNumber')?.touched
            "
          >
            <small
              *ngIf="
                addForm.get('contactNumber')?.invalid &&
                addForm.get('contactNumber')?.touched
              "
              class="text-danger"
            >
              {{ "team.form.contact_number_required" | translate }}</small
            >
          </div>
          <!-- errors -->
        </div>
      </div>
      <div class="col-sm-6">
        <!-- Billable Hourly Rate -->
        <div class="form-group mt-2">
          <label
            >{{ "team.form.billable_rate" | translate }}
            <span class="text-danger">*</span></label
          >
          <input
            class="form-control"
            type="text"
            formControlName="billableHourlyRate"
          />
          <!-- errors -->
          <div
            *ngIf="
              addForm.get('billableHourlyRate')?.invalid &&
              addForm.get('billableHourlyRate')?.touched
            "
          >
            <small
              *ngIf="
                addForm.get('billableHourlyRate')?.invalid &&
                addForm.get('billableHourlyRate')?.touched
              "
              class="text-danger"
            >
              {{ "team.form.billable_rate_required" | translate }}</small
            >
          </div>
          <!-- errors -->
        </div>
      </div>
      <div class="col-sm-6">
        <!-- Position -->
        <div class="form-group mt-2">
          <label>{{ "team.form.position" | translate }} </label>
          <input class="form-control" type="text" formControlName="position" />
        </div>
      </div>
      <div class="col-sm-6">
        <!-- Divisions -->
        <div class="form-group mt-2">
          <label>{{ "team.form.divisions" | translate }} </label>
          <select
            class="form-select form-control"
            name="division"
            id="division"
            formControlName="division"
          >
            <option selected>
              {{ "select" | translate }}
            </option>
            <ng-container *ngFor="let category of categories">
              <option [value]="category?.id">{{ category?.name }}</option>
            </ng-container>
            <option *ngIf="categoriesLoading" disabled>
              {{ "loading" | translate }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <!-- next -->
    <div class="next-btn" [hidden]="secondStep">
      <div class="next mt-4" (click)="nextStep()">{{ "next" | translate }}</div>
    </div>
    <!-- step 2 -->
    <div class="form-step">
      <span class="step-no" [ngClass]="{ active: secondStep }">2</span>
      <div
        class="form-step-btn"
        [ngClass]="{ active: secondStep }"
        (click)="changeStep(2)"
      >
        {{ "team.form.permissons" | translate }}
      </div>
    </div>
    <div class="row" [hidden]="firstStep">
      <app-custom-dropdown
        minWidth="50%"
        [fixedHeight]="true"
        [object]="true"
        [objectKey]="currentLanguage == 'ar' ? 'arabicName' : 'name'"
        [data]="roles"
        [filter]="true"
        (onAction)="onSelectRoles($event)"
      ></app-custom-dropdown>
    </div>

    <!-- submit -->
    <div [hidden]="!secondStep" class="save-btn text-center">
      <button type="submit" class="save mt-4">{{ "save" | translate }}</button>
    </div>
  </form>
</div>
<!-- /Add  Modal -->

<!-- loading section -->
<div *ngIf="uploading">
  <app-loading-section></app-loading-section>
</div>
<!-- /loading section -->
