<!-- Drogfiles Modal -->
<div id="view_image" class="modal custom-modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Preview</h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="false">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img [src]="image" alt="preview" />
      </div>
    </div>
  </div>
</div>
<!-- /Drogfiles Modal -->
