<!-- Add  Modal -->
<div class="add-page">
  <!-- Page Header -->
  <div
    class="page-header w-100 d-flex justify-content-between align-items-center gap-4"
    [dir]="'dir' | translate"
  >
    <!-- breadcrumb -->
    <app-breadcrumb
      [title]="'inventory.tools.assign.title' | translate"
    ></app-breadcrumb>
  </div>
  <!-- /Page Header -->

  <app-back-button></app-back-button>
  <!-- content -->
  <!-- header -->
  <div
    class="form-header pe-4 ps-4 mt-4 {{
      currentTheme?.colorSchema?.background
    }} {{ currentTheme?.colorSchema?.color }}"
  >
    <div class="d-flex justify-content-between align-items-center w-100">
      <h4 class="m-0">{{ "inventory.tools.assign.title" | translate }}</h4>
      <div></div>
    </div>
  </div>
  <form (ngSubmit)="submit()" [formGroup]="addForm">
    <div class="row">
      <div class="col-sm-4">
        <!-- Vehicle Number -->
        <div class="form-group mt-2">
          <label>{{ "inventory.tools.assign.vehicle_no" | translate }} </label>
          <app-custom-filter-dropdown
            minWidth="100%"
            title="Select Here"
            objectKey="vehicleNumber"
            [data]="vehicles"
            (onFilter)="onFilterVehicles($event)"
            (onAction)="onSelectVehicle($event)"
          ></app-custom-filter-dropdown>
          <!-- <select
            class="form-select form-control"
            formControlName="vehicleNumber"
          >
            <option disabled selected>
              {{ "select" | translate }}
            </option>
            <ng-container *ngFor="let user of users">
              <option [value]="user?.id">
                {{ user?.name }}
              </option>
            </ng-container>
            <option *ngIf="!usersLoading && users.length == 0" disabled>
              No Data Yet
            </option>
          </select> -->
          <!-- errors -->
          <!-- <div
            *ngIf="
              addForm.get('vehicleNumber')?.invalid &&
              addForm.get('vehicleNumber')?.touched
            "
          >
            <small
              *ngIf="
                addForm.get('vehicleNumber')?.invalid &&
                addForm.get('vehicleNumber')?.touched
              "
              class="text-danger"
            >
              Vehicle Number Is Required</small
            >
          </div> -->
          <!-- errors -->
        </div>
      </div>
      <div class="col-sm-4">
        <!-- assignedTechnician -->
        <div class="form-group mt-2">
          <label
            >{{ "inventory.tools.assign.assigned_technician" | translate }}
          </label>
          <app-custom-filter-dropdown
            minWidth="100%"
            [title]="TeamMemberName"
            objectKey="userName"
            [data]="members"
            (onFilter)="onFilterMembers($event)"
          ></app-custom-filter-dropdown>
          <!-- <select
            class="form-select form-control"
            formControlName="assignedTechnician"
          >
            <option disabled selected>
              {{ "select" | translate }}
            </option>
            <ng-container *ngFor="let user of users">
              <option [value]="user?.id">
                {{ user?.name }}
              </option>
            </ng-container>
            <option *ngIf="!usersLoading && users.length == 0" disabled>
              No Data Yet
            </option>
          </select> -->
          <!-- errors -->
          <!-- <div
            *ngIf="
              addForm.get('assignedTechnician')?.invalid &&
              addForm.get('assignedTechnician')?.touched
            "
          >
            <small
              *ngIf="
                addForm.get('assignedTechnician')?.invalid &&
                addForm.get('assignedTechnician')?.touched
              "
              class="text-danger"
            >
              Assigned Technician Is Required</small
            >
          </div> -->
          <!-- errors -->
        </div>
      </div>
    </div>
    <!-- tools and parts -->
    <div class="row mt-4">
      <!-- parts -->
      <div class="col-sm-12">
        <app-assigned-tools-table
          [data]="tools"
          [dataKeys]="toolsKeys"
          (onRemove)="onRemoveTool($event)"
        ></app-assigned-tools-table>
      </div>
    </div>

    <!-- buttons -->
    <div class="btns">
      <!-- add tools -->
      <div class="add-parts-btn text-center">
        <div
          class="add mt-4"
          data-bs-toggle="modal"
          data-bs-target="#add_tools_modal"
        >
          <i class="pi pi-plus"></i>
          {{ "inventory.tools.add_btn" | translate }}
        </div>
      </div>
      <!-- submit -->
      <div class="save-btn text-center">
        <button type="submit" class="save mt-4">
          {{ "save" | translate }}
        </button>
      </div>
    </div>
  </form>
</div>
<!-- /Add  Modal -->

<!-- loading section -->
<div *ngIf="uploading">
  <app-loading-section></app-loading-section>
</div>
<!-- /loading section -->
<!-- assign tool modal -->
<app-assign-tools-modal (onAdd)="onAddTool($event)"></app-assign-tools-modal>
