<!-- show theme settings button -->
<button
  class="btn theme-settings-btn rounded-circle border {{
    currentTheme?.colorSchema?.background
  }}"
  type="button"
  data-bs-toggle="offcanvas"
  data-bs-target="#offcanvasRight"
  aria-controls="offcanvasRight"
  [dir]="'dir' | translate"
>
  <i
    class="pi pi-cog theme-btn-icon {{ currentTheme?.colorSchema?.color }}"
  ></i>
</button>
<!-- canva of theme settings -->
<div
  [dir]="'dir' | translate"
  class="offcanvas offcanvas-end {{
    currentTheme?.colorSchema?.title == 'Dark' &&
      currentTheme?.colorSchema?.background
  }}"
  tabindex="-1"
  id="offcanvasRight"
  aria-labelledby="offcanvasRightLabel"
>
  <!-- header -->
  <div class="offcanvas-header p-4 border-bottom">
    <!-- header -->
    <div class="header d-flex justify-content-between align-items-center w-100">
      <div
        class="header-title {{
          currentTheme?.colorSchema?.title == 'Dark' && 'text-white'
        }}"
      >
        <h2>{{ "theme_settings.title" | translate }}</h2>
        <h3>{{ "theme_settings.title_dic" | translate }}</h3>
      </div>
      <!-- close icon -->
      <div class="header-close">
        <a data-bs-dismiss="offcanvas" aria-label="Close" role="button">
          <i class="pi pi-times-circle close-icon"></i>
        </a>
      </div>
    </div>
  </div>
  <!-- body -->
  <div class="offcanvas-body">
    <div class="settings">
      <!-- layout -->
      <!-- <div class="layout-settings">
        <div
          class="head pt-3 mb-3 {{
            currentTheme?.colorSchema?.title == 'Dark' && 'text-white'
          }}"
        >
          <h5>{{ "theme_settings.layout" | translate }}</h5>
          <h6>{{ "theme_settings.layout_dic" | translate }}</h6>
        </div>
        <div class="layouts">
          <div class="row">
            <div class="col-4" *ngFor="let layout of avilaThemes?.layout">
              <div class="form-check card-radio p-0">
                <input
                  [id]="layout?.name"
                  name="layout"
                  type="radio"
                  class="form-check-input"
                  (change)="setThemeSettings('layout', layout)"
                />
                <label
                  class="form-check-label avatar-md w-100 {{
                    currentTheme?.layout?.name == layout?.name && 'selected'
                  }}"
                  [for]="layout?.name"
                >
                  <img src="assets/img/{{ layout?.name }}.png" alt="img" />
                </label>
              </div>
              <h5
                class="fs-13 text-center mt-2 {{
                  currentTheme?.colorSchema?.title == 'Dark' && 'text-white'
                }}"
              >
                {{ layout?.title }}
              </h5>
            </div>
          </div>
        </div>
      </div> -->
      <!-- /layout -->
      <!-- dirction -->
      <div class="w-100 dirction">
        <div
          class="head pt-3 mb-3 {{
            currentTheme?.colorSchema?.title == 'Dark' && 'text-white'
          }}"
        >
          <h5>{{ "theme_settings.dirction_dic" | translate }}</h5>
        </div>
        <div class="row" role="button" dir="ltr">
          <button
            class="col-6 btn btn-light rounded-0"
            [ngClass]="{ 'active-dir-btn': currentLanguage == 'en' }"
            (click)="switchLanguage('en')"
          >
            {{ "theme_settings.ltr" | translate }}
          </button>
          <button
            class="col-6 btn btn-light rounded-0"
            [ngClass]="{ 'active-dir-btn': currentLanguage == 'ar' }"
            (click)="switchLanguage('ar')"
          >
            {{ "theme_settings.rtl" | translate }}
          </button>
        </div>
      </div>
      <!-- /dirction -->
      <!-- Color -->
      <div class="Color-settings">
        <div
          class="head pt-3 mb-3 {{
            currentTheme?.colorSchema?.title == 'Dark' && 'text-white'
          }}"
        >
          <h5>{{ "theme_settings.color" | translate }}</h5>
          <h6>{{ "theme_settings.color_dic" | translate }}</h6>
        </div>
        <div class="Colors">
          <div class="row">
            <!--  ---------------------------------------------------  -->
            <div class="col-4" *ngFor="let color of avilaThemes.colorSchema">
              <div class="form-check card-radio p-0">
                <input
                  class="form-check-input"
                  type="radio"
                  name="color"
                  [id]="color?.title"
                  (change)="setThemeSettings('colorSchema', color)"
                />
                <label
                  class="form-check-label avatar-md w-100  {{
                    currentTheme?.colorSchema?.background ==
                      color?.background && 'selected'
                  }}"
                  for="{{ color?.title }}"
                >
                  <img src="assets/img/vertical.png" alt="img" />
                </label>
              </div>
              <h5
                class="fs-13 text-center mt-2 {{
                  currentTheme?.colorSchema?.title == 'Dark' && 'text-white'
                }}"
              >
                {{ color?.title }}
              </h5>
            </div>
          </div>
          <!--  ---------------------------------------------------  -->
        </div>
      </div>
      <!--  ---------------------------------------------------  -->
      <!-- position -->
      <!-- <div
        class="position-settings"
        id="layout-position"
        *ngIf="currentTheme?.layout?.name === 'vertical'"
      >
        <div class="head pt-3 mb-3">
          <h5>Layout Position</h5>
          <h6>Choose Fixed or Scrollable Layout Position.</h6>
        </div>
        <div class="btn-group bor-rad-50 overflow-hidden radio" role="group">
          <input
            type="radio"
            class="btn-check"
            name="data-layout-position"
            id="layout-position-fixed"
            value="fixed"
            (click)="setThemeSettings('sidebarPosition', 'fixed')"
          />
          <label
            class="btn btn-light w-sm  ms-0  {{
              currentTheme?.sidebarPosition == 'fixed' && 'selected-position'
            }} "
            for="layout-position-fixed"
            >Fixed</label
          >

          <input
            type="radio"
            class="btn-check"
            name="data-layout-position"
            id="layout-position-scrollable"
            value="absloute"
            (click)="setThemeSettings('sidebarPosition', 'absloute')"
          />
          <label
            class="btn btn-light w-sm ms-0  {{
              currentTheme?.sidebarPosition == 'absloute' && 'selected-position'
            }} "
            for="layout-position-scrollable"
            >Scrollable</label
          >
        </div>
      </div> -->
      <!--  ---------------------------------------------------  -->

      <!-- /Color -->
      <!-- Sidebar Color -->
      <div class="Sidebar-settings">
        <div
          class="head pt-3 mb-3 {{
            currentTheme?.colorSchema?.title == 'Dark' && 'text-white'
          }}"
        >
          <h5>{{ "theme_settings.sidebar" | translate }}</h5>
          <h6>{{ "theme_settings.sidebar_dic" | translate }}</h6>
        </div>
        <div class="Sidebar">
          <div class="row">
            <!--  ---------------------------------------------------  -->
            <div class="col-4" *ngFor="let sidebar of avilaThemes.sidebarColor">
              <div class="form-check card-radio p-0">
                <input
                  class="form-check-input"
                  type="radio"
                  name="sidebar"
                  [id]="sidebar?.background"
                  (click)="setThemeSettings('sidebarColor', sidebar)"
                />
                <label
                  class="form-check-label avatar-md w-100  {{
                    currentTheme?.sidebarColor?.background ==
                      sidebar?.background && 'selected'
                  }}"
                  [for]="sidebar?.background"
                >
                  <span
                    class="bg-sidebarcolor {{ sidebar?.background }}"
                  ></span>
                </label>
              </div>
              <h5
                class="fs-13 text-center mt-2 {{
                  currentTheme?.colorSchema?.title == 'Dark' && 'text-white'
                }}"
              >
                {{ sidebar?.title }}
              </h5>
            </div>
            <!--  ---------------------------------------------------  -->
          </div>
        </div>
      </div>
      <!-- /Color -->
    </div>
  </div>
</div>
