<table class="table mt-4">
  <thead
    class="bg-dark {{ currentTheme?.colorSchema?.background }} {{
      currentTheme?.colorSchema?.color
    }}"
  >
    <tr>
      <th class="text-light" *ngFor="let value of dataKeys">
        <div class="head-value">{{ value?.display | translate }}</div>
      </th>
      <th class="text-light"></th>
    </tr>
  </thead>
  <tbody class="tools-table-body">
    <tr *ngFor="let value of data">
      <td class="bg-light text-center" [ngStyle]="{ height: '20px' }">
        {{ value?.toolName }}
      </td>
      <td class="bg-light text-center" [ngStyle]="{ height: '20px' }">
        {{ value?.idNumber }}
      </td>
      <td class="bg-light text-center" [ngStyle]="{ height: '20px' }">
        {{ value?.quantity }}
      </td>
      <td class="bg-light text-center" [ngStyle]="{ height: '20px' }">
        {{ value?.description }}
      </td>
      <td class="bg-light text-center" [ngStyle]="{ height: '20px' }">
        <i
          class="pi pi-trash fs-6"
          role="button"
          (click)="onRemoveTool(value?.id)"
        ></i>
      </td>
    </tr>
  </tbody>
</table>
