<!-- Add  Modal -->
<div class="add-page">
  <!-- Page Header -->
  <div
    class="page-header w-100 d-flex justify-content-between align-items-center gap-4"
    [dir]="'dir' | translate"
  >
    <!-- breadcrumb -->
    <app-breadcrumb
      [title]="'customers.recurring_inspections.form.edit_title' | translate"
    ></app-breadcrumb>
  </div>
  <!-- /Page Header -->

  <app-back-button></app-back-button>
  <!-- content -->
  <form (ngSubmit)="submit()" [formGroup]="addForm">
    <div class="row">
      <div class="col-sm-6">
        <!-- Report Category -->
        <div class="form-group mt-2">
          <label
            >{{
              "customers.recurring_inspections.form.reportCategory" | translate
            }}<span class="text-danger">*</span></label
          >
          <select
            class="form-select form-control"
            formControlName="reportCategoryId"
          >
            <option disabled selected>
              {{ "select" | translate }}
            </option>
            <ng-container *ngFor="let report of categories">
              <option [value]="report?.id">
                {{ report?.name }}
              </option>
            </ng-container>
            <option
              *ngIf="!categoriesLoading && categories.length == 0"
              disabled
            >
              {{ "customers.recurring_inspections.form.no_data" | translate }}
            </option>
          </select>
          <!-- errors -->
          <div
            *ngIf="
              addForm.get('reportCategoryId')?.invalid &&
              addForm.get('reportCategoryId')?.touched
            "
          >
            <small
              *ngIf="
                addForm.get('reportCategoryId')?.invalid &&
                addForm.get('reportCategoryId')?.touched
              "
              class="text-danger"
            >
              {{
                "customers.recurring_inspections.form.reportCategory_required"
                  | translate
              }}</small
            >
          </div>
          <!-- errors -->
        </div>
      </div>
      <div class="col-sm-6">
        <!-- Frequency -->
        <div class="form-group mt-2">
          <label
            >{{ "customers.recurring_inspections.form.frequency" | translate }}
            <span class="text-danger">*</span></label
          >
          <select class="form-select form-control" formControlName="frequency">
            <option disabled selected>
              {{ "select" | translate }}
            </option>
            <ng-container *ngFor="let frequency of frequencies">
              <option [value]="frequency?.name">
                {{ frequency?.name }}
              </option>
            </ng-container>
            <option
              *ngIf="!frequencyLoading && frequencies.length == 0"
              disabled
            >
              {{ "customers.recurring_inspections.form.no_data" | translate }}
            </option>
          </select>
          <!-- errors -->
          <div
            *ngIf="
              addForm.get('frequency')?.invalid &&
              addForm.get('frequency')?.touched
            "
          >
            <small
              *ngIf="
                addForm.get('frequency')?.invalid &&
                addForm.get('frequency')?.touched
              "
              class="text-danger"
            >
              {{
                "customers.recurring_inspections.form.frequency_required"
                  | translate
              }}</small
            >
          </div>
          <!-- errors -->
        </div>
      </div>
      <div class="col-sm-6">
        <!-- Year -->
        <div class="form-group mt-2">
          <label
            >{{ "customers.recurring_inspections.form.month" | translate }}
            <span class="text-danger">*</span></label
          >
          <input type="month" class="form-control" formControlName="year" />
          <!-- errors -->
          <div
            *ngIf="addForm.get('year')?.invalid && addForm.get('year')?.touched"
          >
            <small
              *ngIf="
                addForm.get('year')?.invalid && addForm.get('year')?.touched
              "
              class="text-danger"
            >
              {{
                "customers.recurring_inspections.form.month_required"
                  | translate
              }}</small
            >
          </div>
          <!-- errors -->
        </div>
      </div>
      <div class="col-sm-12">
        <div class="add-btn">
          <div class="add my-4" (click)="togglePrices()">
            {{ "customers.recurring_inspections.form.add_price" | translate }}
          </div>
        </div>
      </div>
      <ng-container *ngIf="isPricesAdded">
        <div class="col-sm-6">
          <div class="form-group mt-2">
            <label
              >{{
                "customers.recurring_inspections.form.first_price" | translate
              }}
            </label>
            <input
              type="number"
              class="form-control"
              formControlName="firstPrice"
            />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group mt-2">
            <label>{{
              "customers.recurring_inspections.form.second_price" | translate
            }}</label>
            <input
              type="number"
              class="form-control"
              formControlName="secondPrice"
            />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group mt-2">
            <label
              >{{
                "customers.recurring_inspections.form.third_price" | translate
              }}
            </label>
            <input
              type="number"
              class="form-control"
              formControlName="thirdPrice"
            />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group mt-2">
            <label
              >{{
                "customers.recurring_inspections.form.forth_price" | translate
              }}
            </label>
            <input
              type="number"
              class="form-control"
              formControlName="forthPrice"
            />
          </div>
        </div>
      </ng-container>
      <div class="col-sm-12">
        <!-- check box -->
        <div class="form-group mt-2">
          <div class="d-flex gap-2 align-items-center">
            <span class="select-input">
              <label class="table-checkbox-container">
                <input
                  type="checkbox"
                  [checked]="isTasksAdded"
                  (change)="onCheck($event)"
                />
                <div class="checkmark"></div>
              </label>
            </span>
            <p class="m-0">
              {{ "customers.recurring_inspections.form.add_task" | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- task section -->
    <div formArrayName="tasks" [hidden]="!isTasksAdded">
      <div
        *ngFor="let item of tasks.controls; let i = index"
        [formGroupName]="i"
      >
        <div class="row mt-4 py-4" [ngStyle]="{ background: '#ccc' }">
          <i
            class="pi pi-trash trash-icon"
            data-bs-toggle="modal"
            data-bs-target="#delete"
            role="button"
            (click)="setDeleteTaskData(item, i)"
          ></i>
          <div class="col-sm-6">
            <!-- Describe Task -->
            <div class="form-group mt-2">
              <label
                >{{
                  "customers.recurring_inspections.form.describe_task"
                    | translate
                }}
              </label>
              <input
                type="text"
                class="form-control"
                formControlName="description"
                name="description[]"
              />
            </div>
          </div>
          <div class="col-sm-6">
            <!-- task Frequency -->
            <div class="form-group mt-2">
              <label
                >{{
                  "customers.recurring_inspections.form.frequency" | translate
                }}
              </label>
              <select
                class="form-select form-control"
                formControlName="frequency"
                name="frequency[]"
              >
                <option disabled selected>
                  {{ "select" | translate }}
                </option>
                <ng-container *ngFor="let frequency of frequencies">
                  <option [value]="frequency?.name">
                    {{ frequency?.name }}
                  </option>
                </ng-container>
                <option
                  *ngIf="!frequencyLoading && frequencies.length == 0"
                  disabled
                >
                  {{
                    "customers.recurring_inspections.form.no_data" | translate
                  }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-sm-6">
            <!-- task Year -->
            <div class="form-group mt-2">
              <label
                >{{ "customers.recurring_inspections.form.month" | translate }}
              </label>
              <input
                type="month"
                class="form-control"
                formControlName="date"
                name="date[]"
              />
            </div>
          </div>
          <!-- save task btn -->
          <div class="col-sm-6">
            <p
              class="mt-3 mb-0 w-100 h-100 d-flex justify-content-center align-items-center text-success"
              role="button"
              (click)="addNewTask(item?.value)"
            >
              <i class="pi pi-plus mx-2"></i>
              <span class="m-0">{{
                "customers.recurring_inspections.form.save_another" | translate
              }}</span>
            </p>
          </div>
          <p class="mt-3 text-danger" role="button" (click)="addTaskItem()">
            <i class="pi pi-plus"></i>
            {{ "customers.recurring_inspections.form.add_another" | translate }}
          </p>
        </div>
      </div>
    </div>

    <!-- submit -->
    <div class="save-btn text-center">
      <button type="submit" [disabled]="addForm.invalid" class="save mt-4">
        {{ "save" | translate }}
      </button>
    </div>
  </form>
</div>
<!-- /Add  Modal -->

<!-- loading section -->
<div *ngIf="uploading">
  <app-loading-section></app-loading-section>
</div>
<!-- /loading section -->

<!-- delete modal -->
<app-delete-modal
  title="Task"
  [currentTheme]="currentTheme"
  (onDelete)="deleteTask()"
></app-delete-modal>
<!--/ delete modal -->
