<div class="customer-reports-sidebar" [dir]="'dir' | translate">
  <div class="reports-sidebar-header">
    <h4 class="m-0">
      {{ "customers.all_customers.reports_sidebar.title" | translate }}
    </h4>
  </div>
  <div class="reports-types">
    <ng-container *ngFor="let report of categories">
      <div
        class="report-type"
        [ngClass]="{ active: activeReport == report?.name }"
        (click)="navigate(report)"
      >
        <i class="pi pi-exclamation-triangle"></i>
        <span>{{
          currentLanguage == "ar" ? report?.arabicName : report?.name
        }}</span>
      </div>
    </ng-container>
    <!-- no data -->
    <h1
      *ngIf="
        categoriesLoading == false &&
        getDataError == false &&
        categories?.length == 0
      "
      class="fs-3 my-4 text-center"
    >
      {{ "module_table.table_empty_text" | translate }}
    </h1>
    <!-- error -->
    <h1 *ngIf="categoriesLoading == false && getDataError" class="fs-3 my-4 text-center">
      {{ "module_table.table_error_text" | translate }}
    </h1>
  </div>
</div>
