/* .customer-reports-sidebar {
  position: fixed;
  top: var(--header-height);
  right: 0;
  bottom: 0;
  border-left: 1px solid black;
} */
.reports-sidebar-header {
  height: 68px;
  width: 325px;
  color: white;
  background-color: var(--dark-theme-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.reports-types {
  width: 325px;
  padding: 20px 6px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.report-type {
  width: 84px;
  height: 86px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  gap: 10px;
  border: 1px solid var(--red-theme-color);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.report-type i {
  font-size: 40px;
  color: var(--red-theme-color);
}
.report-type span {
  font-size: 12px;
}

.report-type:hover {
  cursor: pointer;
  background-color: var(--red-theme-color);
}
.report-type.active {
  color: white;
  background-color: var(--red-theme-color);
}
.report-type.active i {
  color: white;
}

.report-type:hover i {
  color: white;
}

.report-type:hover span {
  color: white;
}

/* dirctions */
.customer-reports-sidebar[dir*="ltr"] {
  position: fixed;
  top: var(--header-height);
  right: 0;
  bottom: 0;
  border-left: 1px solid black;
  z-index: 1;
  background-color: #E4E5E6;
}

.customer-reports-sidebar[dir*="rtl"] {
  position: fixed;
  top: var(--header-height);
  left: 0;
  bottom: 0;
  border-right: 1px solid black;
  z-index: 1;
  background-color: #E4E5E6;
}
