<div class="customer-reports-sidebar" [dir]="'dir' | translate">
  <div class="reports-sidebar-header">
    <h4 class="m-0">REPORTS</h4>
  </div>
  <div class="reports-types">
    <ng-container *ngFor="let report of reports">
      <div
        class="report-type"
        [ngClass]="{ active: activeReport == report?.name }"
        routerLink="/modules/customers/hoodSystem"
        [queryParams]="{ report: report?.name }"
      >
        <i class="pi + {{ report?.icon }} "></i>
        <span>{{ report?.name }}</span>
      </div>
    </ng-container>
  </div>
</div>
