<div>
  <!-- page header  -->
  <div
    class="page-header w-100 d-flex justify-content-between align-items-center gap-4"
    [dir]="'dir' | translate"
  >
    <app-breadcrumb title="Team"></app-breadcrumb>
    <!-- <div routerLink="/modules/contract/add">
      <a
        class="btn add-btn d-flex align-items-center {{
          currentTheme?.colorSchema?.background
        }} {{ currentTheme?.colorSchema?.color }}"
      >
        <i class="pi pi-plus d-none d-sm-block"></i>
        Add Contract
      </a>
    </div> -->
  </div>

  <!-- /page header  -->
  <app-back-button></app-back-button>
  <!-- table -->
  <app-time-card-module-table
    [totalItems]="totalItemsCount"
    [dataKeys]="dataKeys"
    [loading]="loading"
    [currentTheme]="currentTheme"
    deleteModalTitle="Contract"
    tableTitle="Contracts Table"
    editPagePath="/modules/contract/edit"
  ></app-time-card-module-table>
</div>

<!-- [users]="users"
    [totalItems]="totalItemsCount"
    [dataKeys]="dataKeys"
    [loading]="loading"
    [currentTheme]="currentTheme"
    deleteModalTitle="Users"
    tableTitle="Users Table"
    editPagePath="/modules/users/edit"
    (onPageChange)="onPaginate($event)"
    (onDelete)="delete($event)"
    (onSearch)="search($event)"
    (onFilter)="handleFiltersSubmit($event)"
    (onDeleteSelected)="deleteSelected()"
    (onReset)="resetData()" -->
